
/* ------------------------------------------------------ */
/* Mime types */

.mime-icon {
	
	position: relative;
	<?= $vui->css->display_inline_block(); ?>
	
	text-align: center;
	
}
.mime-icon:before {
	
	content: '';
	
	position: relative;
	<?= $vui->css->display_inline_block(); ?>
	
	width: 64px;
	height: 64px;
	
}
.mime-icon .mime-title {
	
	position: relative;
	display: block;
	
	padding: <?= VUI_SPACING; ?>em;
	
	background-repeat: no-repeat;
	background-position: center center;
	
}

/* ------------------ */
/* pdf */

.mime-pdf:before {
	
	background-image: url(<?= $vui->svg_file( 'icon-64-mime-pdf.svg' ); ?>);
	
}

/* ------------------ */
/* doc */

.mime-doc:before {
	
	background-image: url(<?= $vui->svg_file( 'icon-64-mime-doc.svg' ); ?>);
	
}


/* Mime types */
/* ------------------------------------------------------ */
