
/*
 *********************************************************
 ---------------------------------------------------------
 Modules
 ---------------------------------------------------------
 */

.module-wrapper{
	
	position: relative;
	
}
.module-wrapper .module-title {
	
	color: <?= $vui->colors->vui_site_fg->rgba_s(); ?>;
	
	<?= $vui->css->display_inline_block(); ?>
	
	padding-top: <?= VUI_SPACING_VALUE_FIXED; ?><?= VUI_SPACING_UNIT_FIXED; ?>;
	padding-bottom: <?= VUI_SPACING_VALUE_FIXED; ?><?= VUI_SPACING_UNIT_FIXED; ?>;
	margin-bottom: <?= VUI_SPACING_VALUE_FIXED; ?><?= VUI_SPACING_UNIT_FIXED; ?>;
	
	vertical-align: middle;
	width: 100%;
	
	text-align: center;
	
	<?= DEFAULT_SPACER_STYLESHEET; ?>;
	
}
.module-wrapper .module-title h1,
.module-wrapper .module-title h1 *,
.module-wrapper .module-title h2,
.module-wrapper .module-title h2 *,
.module-wrapper .module-title h3,
.module-wrapper .module-title h3 *,
.module-wrapper .module-title h4,
.module-wrapper .module-title h4 *,
.module-wrapper .module-title h5,
.module-wrapper .module-title h5 *,
.module-wrapper .module-title h6,
.module-wrapper .module-title h6 *{
	
	color: <?= $vui->colors->vui_site_fg->rgba_s(); ?>;
	
}
.module-wrapper .module-title h1,
.module-wrapper .module-title h2,
.module-wrapper .module-title h3,
.module-wrapper .module-title h4,
.module-wrapper .module-title h5,
.module-wrapper .module-title h6{
	
	<?= $vui->css->display_inline_block(); ?>
	vertical-align: middle;
	margin: 0;
	
}

.module-wrapper .module-content{
	
	position: relative;
	
}
.module-wrapper .module-read-more{
	
	font-family: <?= VUI_SEC_FONT_FAMILY; ?>;
	font-size: <?= ( $min + ( $diff * 2 ) ) . $meas_unit; ?>;
	font-weight: 100;
	line-height: normal;
	<?= $vui->css->display_inline_block(); ?>
	padding-bottom: <?= VUI_SPACING / 2; ?>em;
	padding-top: <?= VUI_SPACING / 2; ?>em;
	margin-top: <?= VUI_SPACING; ?>em;
	vertical-align: middle;
	width: 100%;
	
	border-top: 5px solid <?= $vui->colors->vui_site_fg->rgba_s( 31 ); ?>;
	text-align: right;
	
}
.module-wrapper .module-read-more,
.module-wrapper .module-read-more a{
	
}
.module-wrapper .module-read-more a{
	
	color: <?= $vui->colors->vui_site_fg->lighten( 20, TRUE )->rgba_s(); ?>;
	background: none;
	
}
.module-wrapper .module-read-more a:hover{
	
	color: <?= $vui->colors->vui_site_fg->lighten( 20, TRUE )->darken( 20, TRUE )->rgba_s(); ?>;
	background: none;
	
}
.module-wrapper .module-read-more{
	
	color: <?= $vui->colors->vui_site_fg->rgba_s(); ?>;
	
}


.module-wrapper .module-title:before {
	
	content: '';
	
	<?= $vui->css->display_inline_block(); ?>
	vertical-align: middle;
	width: 0.6em;
	height: 0.6em;
	
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
	padding: <?= VUI_SPACING; ?>em;
	margin-right: <?= VUI_SPACING; ?>em;
	
}
.announce .module-title:before {
	
	background-image: url(<?= $vui->svg_file( 'icon-announce', $vui->colors->vui_site_fg->rgba_s() ); ?>);
	
}
.instagram-module .module-title:before,
.instagram_snapwidget-module .module-title:before {
	
	background-image: url(<?= $vui->svg_file( 'icon-instagram', $vui->colors->vui_site_fg->rgba_s() ); ?>);
	
}
.gmap-module .module-title:before {
	
	background-image: url(<?= $vui->svg_file( 'icon-map-mark', $vui->colors->vui_site_fg->rgba_s() ); ?>);
	
}
.jssocials-module .module-title:before {
	
	background-image: url(<?= $vui->svg_file( 'icon-share', $vui->colors->vui_site_fg->rgba_s() ); ?>);
	
}
.facebook-module .module-title:before {
	
	background-image: url(<?= $vui->svg_file( 'icon-facebook', $vui->colors->vui_site_fg->rgba_s() ); ?>);
	
}
.contact-module .module-title:before {
	
	background-image: url(<?= $vui->svg_file( 'icon-contact', $vui->colors->vui_site_fg->rgba_s() ); ?>);
	
}
.calendar .module-title:before {
	
	background-image: url(<?= $vui->svg_file( 'icon-calendar', $vui->colors->vui_site_fg->rgba_s() ); ?>);
	
}
.poll-module .module-title:before {
	
	background-image: url(<?= $vui->svg_file( 'icon-poll', $vui->colors->vui_site_fg->rgba_s() ); ?>);
	
}
.college .module-title:before {
	
	background-image: url(<?= $vui->svg_file( 'icon-college', $vui->colors->vui_site_fg->rgba_s() ); ?>);
	
}




<?php
	
	$_colors = array(
		
		'red',
		'green',
		'orange',
		'yellow',
		'blue',
		'purple',
		
	);
	
?>

<?php foreach ( $_colors as $color ) { ?>

/* -------- <?= $color; ?> color -------- */

.<?= $color; ?>.announce .module-title:before {
	
	background-image: url(<?= $vui->svg_file( 'icon-announce', $vui->colors->{ 'vui_' . $color }->rgba_s() ); ?>);
	
}
.<?= $color; ?>.facebook-module .module-title:before {
	
	background-image: url(<?= $vui->svg_file( 'icon-facebook', $vui->colors->{ 'vui_' . $color }->rgba_s() ); ?>);
	
}
.<?= $color; ?>.instagram-module .module-title:before,
.<?= $color; ?>.instagram_snapwidget-module .module-title:before {
	
	background-image: url(<?= $vui->svg_file( 'icon-instagram', $vui->colors->{ 'vui_' . $color }->rgba_s() ); ?>);
	
}
.<?= $color; ?>.jssocials-module .module-title:before {
	
	background-image: url(<?= $vui->svg_file( 'icon-share', $vui->colors->{ 'vui_' . $color }->rgba_s() ); ?>);
	
}
.<?= $color; ?>.gmap-module .module-title:before {
	
	background-image: url(<?= $vui->svg_file( 'icon-map-mark', $vui->colors->{ 'vui_' . $color }->rgba_s() ); ?>);
	
}
.<?= $color; ?>.contact-module .module-title:before {
	
	background-image: url(<?= $vui->svg_file( 'icon-contact', $vui->colors->{ 'vui_' . $color }->rgba_s() ); ?>);
	
}
.<?= $color; ?>.calendar .module-title:before {
	
	background-image: url(<?= $vui->svg_file( 'icon-calendar', $vui->colors->{ 'vui_' . $color }->rgba_s() ); ?>);
	
}
.<?= $color; ?>.poll-module .module-title:before {
	
	background-image: url(<?= $vui->svg_file( 'icon-poll', $vui->colors->{ 'vui_' . $color }->rgba_s() ); ?>);
	
}
.<?= $color; ?>.college .module-title:before {
	
	background-image: url(<?= $vui->svg_file( 'icon-college', $vui->colors->{ 'vui_' . $color }->rgba_s() ); ?>);
	
}


.<?= $color; ?> .module-title h1,
.<?= $color; ?> .module-title h1 *,
.<?= $color; ?> .module-title h2,
.<?= $color; ?> .module-title h2 *,
.<?= $color; ?> .module-title h3,
.<?= $color; ?> .module-title h3 *,
.<?= $color; ?> .module-title h4,
.<?= $color; ?> .module-title h4 *,
.<?= $color; ?> .module-title h5,
.<?= $color; ?> .module-title h5 *,
.<?= $color; ?> .module-title h6,
.<?= $color; ?> .module-title h6 *{
	
	color: <?= $vui->colors->{ 'vui_' . $color }->rgba_s(); ?>;
	
}
.<?= $color; ?> .module-read-more,
.<?= $color; ?> .module-read-more a{
	
}
.<?= $color; ?> .module-read-more{
	
	color: <?= $vui->colors->{ 'vui_' . $color }->rgba_s(); ?>;
	border-top-color: <?= $vui->colors->{ 'vui_' . $color }->rgba_s( 31 ); ?>;
	
}
.<?= $color; ?> .module-read-more a{
	
	color: <?= $vui->colors->{ 'vui_' . $color }->rgba_s(); ?>;
	
	background: none;
	color: <?= $vui->colors->{ 'vui_' . $color }->rgba_s(); ?>;
	
}
.<?= $color; ?> .read-more a:hover{
	
	background: none;
	color: <?= $vui->colors->{ 'vui_' . $color }->darken( 20, TRUE )->rgba_s(); ?>;
	
}

<?php } ?>

	
/*
 ---------------------------------------------------------
 Modules
 ---------------------------------------------------------
 *********************************************************
 */
