
/*
 *********************************************************
 ---------------------------------------------------------
 Msg
 ---------------------------------------------------------
 */

 #msg-block {

	position: relative;
	z-index: 2;

 }
	#msg-block > .s1 {

		position: relative;
		display: block;
		
	}
	
		#msg-block > .s1 > .s2 {
			
			position: relative;
			display: block;
			
		}

.msg {
	
	position: relative;
	display: block;
	
	padding: <?= VUI_SPACING; ?>em;
	margin: <?= VUI_SPACING / 2; ?>em auto;
	
	background: <?= $vui->colors->vui_msg_main_bg->rgba_s(); ?>;
	color: <?= $vui->colors->vui_msg_main_fg->rgba_s(); ?>;
	
	<?= $vui->css->border_radius( VUI_DEFAULT_BORDER_RADIUS ); ?>
	
}

.width-640-960 .msg,
.width-480-640 .msg,
.width-480-lower .msg{
	
}
.msg-item {
	
	padding: <?= VUI_SPACING; ?>em;
	margin-bottom: <?= VUI_SPACING / 2; ?>em !important;
	
	<?= $vui->css->border_radius( VUI_DEFAULT_BORDER_RADIUS ); ?>
	
	border: thin solid transparent;
	
}
.msg-item > * {
	
	margin: 0 !important;
	margin-bottom: <?= VUI_SPACING / 2; ?>em !important;
	
}
.msg-item > *:last-child {
	
	margin-bottom: 0 !important;
	
}
.msg-item:last-child {
	
	margin-bottom: 0 !important;
	
}
.msg-item a {
	
	font-weight: bold;
	text-decoration: none;
	font-style: italic;
	display: inline;
	border-bottom: thin dashed <?= $vui->colors->vui_msg_main_fg->rgba_s(); ?>;
	color: <?= $vui->colors->vui_msg_main_fg->rgba_s(); ?>;
	
}
.msg-item a:hover {
	
	border-bottom: thin dashed <?= $vui->colors->vui_msg_main_fg->rgba_s(); ?>;
	color: <?= $vui->colors->vui_msg_main_fg->rgba_s(); ?>;
	
}
.msg-item:last-child{

/* 	<?= $vui->css->border_radius( '0 0 ' . VUI_DEFAULT_BORDER_RADIUS . ' ' . VUI_DEFAULT_BORDER_RADIUS ); ?> */

}


.msg-type-title{
	
	position: relative;
	display: block;
	padding: 0;
	margin: 0;
	font-family: <?= VUI_SEC_FONT_FAMILY; ?>;
	font-size: 120%;
	
	border: none;
	
}
.msg-type-info{

}
.msg-type-success{
	
	background: <?= $vui->colors->vui_success_bg->rgba_s(); ?>;
	color: <?= $vui->colors->vui_success_fg->rgba_s(); ?>;
	
	border: thin solid <?= $vui->colors->vui_success_fg->rgba_s( 40 ); ?>;
	
}
.msg-type-success a,
.msg-type-success a:hover {

	color: <?= $vui->colors->vui_success_fg->rgba_s(); ?>;
	border-bottom: thin dashed <?= $vui->colors->vui_success_fg->rgba_s(); ?>;

}
.msg-type-error{

	background: <?= $vui->colors->vui_error_bg->rgba_s(); ?>;
	color: <?= $vui->colors->vui_error_fg->rgba_s(); ?>;
	
	border: thin solid <?= $vui->colors->vui_error_fg->rgba_s( 40 ); ?>;
	
}
.msg-type-error a,
.msg-type-error a:hover {

	color: <?= $vui->colors->vui_error_fg->rgba_s(); ?>;
	border-bottom: thin dashed <?= $vui->colors->vui_error_fg->rgba_s(); ?>;

}
.msg-type-warning{

	background: <?= $vui->colors->vui_warning_bg->rgba_s(); ?>;
	color: <?= $vui->colors->vui_warning_fg->rgba_s(); ?>;
	
	border: thin solid <?= $vui->colors->vui_warning_fg->rgba_s( 40 ); ?>;
	
}
.msg-type-warning a,
.msg-type-warning a:hover {

	color: <?= $vui->colors->vui_warning_fg->rgba_s(); ?>;
	border-bottom: thin dashed <?= $vui->colors->vui_warning_fg->rgba_s(); ?>;

}
.msg-type-info{

	background: <?= $vui->colors->vui_info_bg->rgba_s(); ?>;
	color: <?= $vui->colors->vui_info_fg->rgba_s(); ?>;
	
	border: thin solid <?= $vui->colors->vui_info_fg->rgba_s( 40 ); ?>;
	
}
.msg-type-info a,
.msg-type-info a:hover {

	color: <?= $vui->colors->vui_info_fg->rgba_s(); ?>;
	border-bottom: thin dashed <?= $vui->colors->vui_info_fg->rgba_s(); ?>;

}
.msg-inline-error{
	
	display: block;
	
	font-size: 90%;
	
	font-style: italic;
	
	padding: <?= VUI_SPACING / 3; ?>em <?= VUI_SPACING; ?>em;
	
	background: <?= $vui->colors->vui_error_bg->rgba_s(); ?>;
	color: <?= $vui->colors->vui_error_fg->rgba_s(); ?>;
	
	border: thin solid <?= $vui->colors->vui_error_fg->rgba_s( 40 ); ?>;
	
}
.important,
.text-warning{

	background: <?= $vui->colors->vui_warning_bg->rgba_s(); ?>;
	color: <?= $vui->colors->vui_warning_fg->rgba_s(); ?>;

	font-weight: bold;

}

.vui .msg-item > ul:last-child,
.vui .msg-item > ul > li:last-child{

	margin-bottom: 0;

}
.vui .msg-item > ul:last-child{

	margin-bottom: 0;
	padding-bottom: 0;

}

/*
 ---------------------------------------------------------
 Msg
 ---------------------------------------------------------
 *********************************************************
 */
