
/*
 *********************************************************
 ---------------------------------------------------------
 Pagination
 ---------------------------------------------------------
 */

.form-actions,
.pagination,
.filter{
	
	position: relative;
	display: block;
	margin-bottom: <?= VUI_SPACING * 2; ?>em;
	text-align: center;
	padding: 0;
	background: none;
	
}
.form-actions *,
.pagination *,
.filter *,
.component-head{
	
	margin-bottom: 0 !important;
	
}

.vui .pagination .vui-interactive-el-wrapper {
	
	z-index: 1;
	
}
.vui .pagination .vui-interactive-el-wrapper:hover {
	
	z-index: 2;
	
}
.vui .pagination .vui-interactive-el-wrapper > .el {
	
	text-align: center;
	margin-bottom: 0;
	width: 100%;
	
	border-left: none;
	border-right: none;
	
	<?= $vui->css->border_radius( 0 ); ?>
	
	margin: 0;
	
}
.vui .pagination .vui-interactive-el-wrapper.prev,
.vui .pagination .vui-interactive-el-wrapper.next {
	
	position: absolute;
	width: 10%;
	height: 100%;
	
	left: 0;
	
}
.vui .pagination .vui-interactive-el-wrapper.prev > .el,
.vui .pagination .vui-interactive-el-wrapper.next > .el {
	
	position: absolute;
	text-indent: -10000px;
	background-image: url( <?= $vui->svg_file( 'icon-arrow-left', $vui->colors->vui_button_fg->hex_s ); ?> );
	background-size: 24px auto;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;
	overflow: hidden;
	
	left: 0;
	
}
.vui .pagination .vui-interactive-el-wrapper.next {
	
	left: auto;
	right: 0;
	
}
.vui .pagination .vui-interactive-el-wrapper.next > .el {
	
	background-image: url( <?= $vui->svg_file( 'icon-arrow-right', $vui->colors->vui_button_fg->hex_s ); ?> );
	
}
.vui .pagination .vui-interactive-el-wrapper.prev > .el {
	
	<?= $vui->css->border_radius( VUI_DEFAULT_BORDER_RADIUS . ' 0 0 ' . VUI_DEFAULT_BORDER_RADIUS ); ?>
	
}
.vui .pagination .vui-interactive-el-wrapper.next > .el {
	
	<?= $vui->css->border_radius( '0 ' . VUI_DEFAULT_BORDER_RADIUS . ' ' . VUI_DEFAULT_BORDER_RADIUS . ' 0' ); ?>
	
}
.vui .pagination .mid-buttons-wrapper {
	
	<?= $vui->css->display_inline_block(); ?>
	margin-left: 48px;
	margin-right: 48px;
	
}


<?= '@media screen and ( max-width: 1024px ) {' ?>
	
	.vui .pagination .mid-buttons-wrapper {
		
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		
	}
	.vui .pagination .mid-buttons-wrapper .vui-interactive-el-wrapper > .el {
		
		padding-left: 0;
		padding-right: 0;
		
	}
	
	.vui .pagination.total-11 .mid-buttons-wrapper .vui-interactive-el-wrapper:nth-child( n+6 ) {
		
		width: <?= 100 / 5; ?>%;
		
	}
	.vui .pagination.total-11 .mid-buttons-wrapper .vui-interactive-el-wrapper:nth-child( -n+6 ) {
		
		width: <?= 100 / 6; ?>%;
		
	}
	.vui .pagination.total-10 .mid-buttons-wrapper .vui-interactive-el-wrapper {
		
		width: <?= 100 / ( 10 / 2 ); ?>%;
		
	}
	.vui .pagination.total-9 .mid-buttons-wrapper .vui-interactive-el-wrapper {
		
		width: <?= 100 / ( 9 / 2 ); ?>%;
		
	}
	.vui .pagination.total-8 .mid-buttons-wrapper .vui-interactive-el-wrapper {
		
		width: <?= 100 / ( 8 / 2 ); ?>%;
		
	}
	.vui .pagination.total-7 .mid-buttons-wrapper .vui-interactive-el-wrapper {
		
		width: <?= 100 / 7; ?>%;
		
	}
	.vui .pagination.total-6 .mid-buttons-wrapper .vui-interactive-el-wrapper {
		
		width: <?= 100 / 6; ?>%;
		
	}
	.vui .pagination.total-5 .mid-buttons-wrapper .vui-interactive-el-wrapper {
		
		width: <?= 100 / 5; ?>%;
		
	}
	.vui .pagination.total-4 .mid-buttons-wrapper .vui-interactive-el-wrapper {
		
		width: <?= 100 / 4; ?>%;
		
	}
	.vui .pagination.total-3 .mid-buttons-wrapper .vui-interactive-el-wrapper {
		
		width: <?= 100 / 3; ?>%;
		
	}
	.vui .pagination.total-2 .mid-buttons-wrapper .vui-interactive-el-wrapper {
		
		width: <?= 100 / 2; ?>%;
		
	}
	.vui .pagination.total-1 .mid-buttons-wrapper .vui-interactive-el-wrapper {
		
		width: <?= 100 / 1; ?>%;
		
	}
	
}

<?= '@media screen and ( min-width: 1024px ) {' ?>
	
	.vui .pagination .mid-buttons-wrapper {
		
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		
	}
	.vui .pagination .mid-buttons-wrapper .vui-interactive-el-wrapper > .el {
		
		padding-left: 0;
		padding-right: 0;
		
	}
	
	.vui .pagination.total-11 .mid-buttons-wrapper .vui-interactive-el-wrapper {
		
		width: <?= 100 / 11; ?>%;
		
	}
	.vui .pagination.total-10 .mid-buttons-wrapper .vui-interactive-el-wrapper {
		
		width: <?= 100 / 10; ?>%;
		
	}
	.vui .pagination.total-9 .mid-buttons-wrapper .vui-interactive-el-wrapper {
		
		width: <?= 100 / 9; ?>%;
		
	}
	.vui .pagination.total-8 .mid-buttons-wrapper .vui-interactive-el-wrapper {
		
		width: <?= 100 / 8; ?>%;
		
	}
	.vui .pagination.total-7 .mid-buttons-wrapper .vui-interactive-el-wrapper {
		
		width: <?= 100 / 7; ?>%;
		
	}
	.vui .pagination.total-6 .mid-buttons-wrapper .vui-interactive-el-wrapper {
		
		width: <?= 100 / 6; ?>%;
		
	}
	.vui .pagination.total-5 .mid-buttons-wrapper .vui-interactive-el-wrapper {
		
		width: <?= 100 / 5; ?>%;
		
	}
	.vui .pagination.total-4 .mid-buttons-wrapper .vui-interactive-el-wrapper {
		
		width: <?= 100 / 4; ?>%;
		
	}
	.vui .pagination.total-3 .mid-buttons-wrapper .vui-interactive-el-wrapper {
		
		width: <?= 100 / 3; ?>%;
		
	}
	.vui .pagination.total-2 .mid-buttons-wrapper .vui-interactive-el-wrapper {
		
		width: <?= 100 / 2; ?>%;
		
	}
	.vui .pagination.total-1 .mid-buttons-wrapper .vui-interactive-el-wrapper {
		
		width: <?= 100 / 1; ?>%;
		
	}
	
}



.vui .pagination .vui-interactive-el-wrapper.inactive {
	
	opacity: .4;
	
}

/*
 ---------------------------------------------------------
 Pagination
 ---------------------------------------------------------
 *********************************************************
 */
