
<?php
	
	$preload_size = 48;
	
	$articles_horizontal_margins = VUI_SPACING * 2;
	
?>

/*
 *********************************************************
 ---------------------------------------------------------
 Submit forms
 ---------------------------------------------------------
 */

.vui .loading {
	
	position: relative;
	display: block;
	text-align: center;
	
	width: 100%;
	height: 48px;
	
	background-color: <?= $vui->colors->vui_base->rgba_s(); ?>;
	
}
.vui .full-screen-loading {
	
	position: fixed;
	
	display:block;
	
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;
	
	background-color: <?= $vui->colors->vui_base->rgba_s( 200 ); ?>;
	
	z-index: 100000;
	
}
.vui .loading * {
	
	display: none;
	
}
.vui .loading:before,
.vui .loading:after {
	
	content: '';
	width: 24px;
	height: 24px;
	background-color: <?= $vui->colors->vui_base->get_ro_color( 48 )->rgba_s(); ?>;
	position: absolute;
	top: 50%;
	left: 50%;
	
	margin-left: -12px;
	margin-top: -12px;
	
	
	<?= $vui->css->animation( 'vui_preload 2.0s infinite ease-in-out' ); ?>
	<?= $vui->css->border_radius( '50%' ); ?>
	<?= $vui->css->opacity( '1' ); ?>
	
}

.vui .loading:after{
	
	<?= $vui->css->animation_delay( '-1.0s' ); ?>
	background-color: <?= $vui->colors->vui_base_alt->rgba_s(); ?>;
	
}


<?php
	
	$vui_preload_css = '
		
		0%{
			
			' . $vui->css->opacity( '0' ) . '
			' . $vui->css->transform( 'scale( 0.0 ) translateX( -4em )' ) . '
			
		}
		
		50%{
			
			' . $vui->css->opacity( '1' ) . '
			' . $vui->css->transform( 'scale( 1.0 ) translateX( 0 )' ) . '
			
		}
		
		100%{
			
			' . $vui->css->opacity( '0' ) . '
			' . $vui->css->transform( 'scale( 0.0 ) translateX( 4em )' ) . '
			
		}
		
	';
	
?>

<?= $vui->css->keyframes( 'vui_preload', $vui_preload_css ); ?>


.submit-form #component-content{
	
}





.submit-form .submit-form-field-wrapper {
	
	display: block;
	
	position: relative;
	<?= $vui->css->display_inline_block(); ?>
	
	width: 33.3333333%;
	
	padding: <?= VUI_SPACING / 2; ?>em;
	
	margin-bottom: <?= VUI_SPACING; ?>em;
	
}
.submit-form .loading .submit-form-field-wrapper{
	
	display: none;
	
}
.submit-form .submit-form-field-control{
	
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	
}
.submit-form .vui-interactive-el-wrapper {
	
	<?= $vui->css->display_inline_block(); ?>
	width: 100%;
	text-align: left;
	
	<?= $vui->css->box_sizing(); ?>
	
}
.submit-form .vui-interactive-el-wrapper > .el {
	
	width: 100%;
	
}
.submit-form .submit-form-field-control-date .vui-interactive-el-wrapper{
	
}
.submit-form .submit-form-field-control-date-dmy .vui-interactive-el-wrapper{
	
	width: 33.33333%;
	
}
.submit-form .submit-form-field-control-date-dmy > select{
	
	<?= $vui->css->border_radius( VUI_DEFAULT_BORDER_RADIUS . ' 0 0 ' . VUI_DEFAULT_BORDER_RADIUS ); ?>
	
}
.submit-form .submit-form-field-control-date-dmy > select + select{
	
	<?= $vui->css->border_radius( 0 ); ?>
	
}
.submit-form .submit-form-field-control-date-dmy > select + select + select{
	
	<?= $vui->css->border_radius( '0 ' . VUI_DEFAULT_BORDER_RADIUS . ' ' . VUI_DEFAULT_BORDER_RADIUS . ' 0' ); ?>
	
}
.submit-form .submit-form-field-control-date-dm .form-element,
.submit-form .submit-form-field-control-date-dy .form-element,
.submit-form .submit-form-field-control-date-my .form-element{
	
	width: 50%;
	
}
.submit-form .submit-form-field-control-date-d .form-element,
.submit-form .submit-form-field-control-date-m .form-element,
.submit-form .submit-form-field-control-date-y .form-element{
	
	width: 100%;
	
}
.submit-form .submit-form-field-wrapper label{
	
	text-align: left;
	
}
.submit-form .submit-form-field-wrapper-html,
.submit-form .submit-form-field-wrapper-textarea,
.submit-form .submit-form-field-wrapper-button{
	
	width: 100%;
	
}
.submit-form .submit-form-field-wrapper-button{
	
	width: 100%;
	padding: 0;
	
}
.submit-form .submit-form-field-wrapper-button,
.submit-form .submit-form-field-wrapper-textarea{
	
}
.submit-form .submit-form-field-wrapper-button .submit-form-field-control {
	
	text-align: right;
	
}
.submit-form .submit-form-field-wrapper-button .vui-interactive-el-wrapper {
	
	text-align: center;
	width: <?= 100 / 3; ?>%;
	
	padding: 0 <?= VUI_SPACING; ?>em;
	
}
.submit-form .submit-form-field-wrapper-button .form-element{
	
}
.submit-form .submit-form-field-wrapper-textarea .form-element{
	
	width: 100%;
	
}

.submit-form .submit-form-field-description{
	
	font-size: 90%;
	font-style: italic;
	
}





<?= '@media screen and ( max-width: 1700px ) {'; ?>
	
	.content-disp-lcr .submit-form .submit-form-field-wrapper {
		
		width: 50%;
		
	}
	.submit-form .submit-form-field-wrapper-button .form-element {
		
	}
	
	.submit-form .submit-form-field-wrapper.submit-form-field-wrapper-html,
	.submit-form .submit-form-field-wrapper.submit-form-field-wrapper-textarea {
		
		width: 100%;
		
	}
	.submit-form .submit-form-field-wrapper.submit-form-field-wrapper-button {
		
	}
	.submit-form .submit-form-field-wrapper.submit-form-field-wrapper-button .vui-interactive-el-wrapper {
		
	}
	
}


<?= '@media screen and ( max-width: 960px ) {'; ?>
	
	.submit-form .submit-form-field-wrapper {
		
		width: 50%;
		
	}
	.content-disp-lcr .submit-form .submit-form-field-wrapper {
		
		width: 100%;
		
	}
	.submit-form .submit-form-field-wrapper-button .form-element {
		
		width: 100%;
		
	}
	.submit-form .submit-form-field-wrapper-html,
	.submit-form .submit-form-field-wrapper-textarea {
		
		width: 100%;
		
	}
	.submit-form .submit-form-field-wrapper-button {
		
	}
	.submit-form .submit-form-field-wrapper.submit-form-field-wrapper-button .vui-interactive-el-wrapper {
		
	}
	
}


<?= '@media screen and ( max-width: 640px ) {'; ?>
	
	.submit-form .submit-form-field-wrapper {
		
		width: 100%;
		
	}
	.submit-form .submit-form-field-wrapper-html,
	.submit-form .submit-form-field-wrapper-textarea {
		
		width: 100%;
		
	}
	.submit-form .submit-form-field-wrapper-button {
		
	}
	
}


/* --------------- Search box ----------------- */

.ud-data-list-search-box {
	
	color: <?= $vui->colors->vui_search_box_fg->rgba_s(); ?>;
	background-color: <?= $vui->colors->vui_search_box_bg->rgba_s(); ?>;
	/* 	background-image: url(<?= $vui->svg_file( 'icon-find', $vui->colors->vui_search_box_backimg_bg->rgba_s() ); ?>); */
	
	background-size: auto calc( 100% + 2em );
	background-repeat: no-repeat;
	background-position: left -2.5em top -2.5em;
	
	padding: <?= VUI_SPACING / 2; ?>em;
	margin: <?= VUI_SPACING; ?>em 0;
	
	<?= $vui->css->border_radius( VUI_DEFAULT_BORDER_RADIUS ); ?>
	
}
.ud-data-list-search-box:before {
	
}
.ud-data-list-search-box .submit-form-field-wrapper {
	
	width: calc( <?= 100 / 4; ?>% - <?= 50 / 4; ?>px );
	
}

<?= '@media screen and ( max-width: 1300px ) {'; ?>
	
	.ud-data-list-search-box .submit-form-field-wrapper {
		
		width: calc( <?= 100 / 2; ?>% - <?= 50 / 2; ?>px );
		
	}
	
}
<?= '@media screen and ( max-width: 1000px ) {'; ?>
	
	.ud-data-list-search-box .submit-form-field-wrapper {
		
		width: calc( <?= 100 / 2; ?>% - <?= 50 / 2; ?>px );
		
	}
	
}
<?= '@media screen and ( max-width: 640px ) {'; ?>
	
	.ud-data-list-search-box .submit-form-field-wrapper {
		
		width: 100%;
		
	}
	.ud-data-list-search-box .ud-search-box-search-button-wrapper .ud-search-box-search-button {
		
		width: 100%;
		padding: <?= VUI_SPACING / 2; ?>em;
		
	}
	
}
<?= '@media screen and ( min-width: 640px ) {'; ?>
	
	.ud-data-list-search-box .ud-search-box-search-button-wrapper {
		
		position: absolute;
		
		padding: 0;
		width: 50px;
		height: calc( 100% + <?= VUI_SPACING; ?>em );
		right: -<?= VUI_SPACING / 2; ?>em;
		top: -<?= VUI_SPACING / 2; ?>em;
		
		<?= $vui->css->border_radius( VUI_DEFAULT_BORDER_RADIUS ); ?>
		
	}
	.ud-data-list-search-box .ud-search-box-search-button-wrapper .submit-form-field-control,
	.ud-data-list-search-box .ud-search-box-search-button-wrapper .submit-form-field-control .ud-search-box-search-button,
	.vui .ud-data-list-search-box .ud-search-box-search-button-wrapper .submit-form-field-control .ud-search-box-search-button > .el {
		
		position: absolute;
		
		left: 0;
		top: 0;
		
		width: 100%;
		height: 100%;
		
	}
	.vui .ud-data-list-search-box .ud-search-box-search-button-wrapper .submit-form-field-control .ud-search-box-search-button > .el {
		
		padding: 0;
		
		<?= $vui->css->border_radius( '0 ' . VUI_DEFAULT_BORDER_RADIUS . ' ' . VUI_DEFAULT_BORDER_RADIUS . ' 0' ); ?>
		
	}
	.vui .ud-data-list-search-box .ud-search-box-search-button-wrapper .submit-form-field-control .ud-search-box-search-button > .el > .text {
		
		display: none;
		
	}
	.vui .ud-data-list-search-box .ud-search-box-search-button-wrapper .submit-form-field-control .ud-search-box-search-button > .el > .icon-wrapper {
		
		width: 100%;
		
		color: <?= $vui->colors->vui_search_box_search_btn_fg->rgba_s(); ?>;
		
	}
	.vui .ud-data-list-search-box .ud-search-box-search-button-wrapper .submit-form-field-control .ud-search-box-search-button > .el {
		
		padding: 0;
		
		<?= $vui->css->border_radius( '0 ' . VUI_DEFAULT_BORDER_RADIUS . ' ' . VUI_DEFAULT_BORDER_RADIUS . ' 0' ); ?>
		
		color: <?= $vui->colors->vui_search_box_search_btn_fg->rgba_s(); ?>;
		
		border: none;
		
		background: none;
		
		background-color: <?= $vui->colors->vui_search_box_search_btn_bg->rgba_s(); ?>;
		
	}
	.vui .ud-data-list-search-box .ud-search-box-search-button-wrapper .submit-form-field-control .ud-search-box-search-button > .el:hover,
	.vui .ud-data-list-search-box .ud-search-box-search-button-wrapper .submit-form-field-control .ud-search-box-search-button > .el:active
	.vui .ud-data-list-search-box .ud-search-box-search-button-wrapper .submit-form-field-control .ud-search-box-search-button > .el:focus {
		
		color: <?= $vui->colors->vui_search_box_search_btn_active_fg->rgba_s(); ?>;
		
		background-color: <?= $vui->colors->vui_search_box_search_btn_active_bg->rgba_s(); ?>;
		
	}
	.vui .ud-data-list-search-box .ud-search-box-search-button-wrapper .submit-form-field-control .ud-search-box-search-button > .el:hover > .icon-wrapper,
	.vui .ud-data-list-search-box .ud-search-box-search-button-wrapper .submit-form-field-control .ud-search-box-search-button > .el:active > .icon-wrapper,
	.vui .ud-data-list-search-box .ud-search-box-search-button-wrapper .submit-form-field-control .ud-search-box-search-button > .el:focus > .icon-wrapper {
		
		width: 100%;
		
		color: <?= $vui->colors->vui_search_box_search_btn_active_fg->rgba_s(); ?>;
		
	}
	
}


/* --------------- Users submits ----------------- */

.ud-d-list-results-title-wrapper,
.ud-d-list-no-search-results-desc {
	
	position: relative;
	display: block;
	
	overflow: hidden;
	
	text-align: center;
	
	font-family: <?= VUI_SEC_FONT_FAMILY; ?>;
	color: <?= VUI_SEC_FONT_COLOR; ?>;
	font-size: 160%;
	font-weight: 100;
	line-height: normal;
	margin-bottom: <?= VUI_SPACING; ?>em;
	
}
.ud-d-list-no-search-results-desc {
	
	overflow: hidden;
	
}
.sf-us-loader-plugin-wrapper .ud-d-list-wrapper .heading {
	
	position: relative;
	display: block;
	
	overflow: hidden;
	
	text-align: center;
	
}
.ud-d-list-results-title-wrapper > .s1,
.sf-us-loader-plugin-wrapper .ud-d-list-wrapper .heading > h3 {
	
	position: relative;
	<?= $vui->css->display_inline_block(); ?>
	
	margin-left: auto;
	margin-right: auto;
	
}
.ud-d-list-results-title-wrapper > .s1:before,
.ud-d-list-results-title-wrapper > .s1:after,
.sf-us-loader-plugin-wrapper .ud-d-list-wrapper .heading > h3:before,
.sf-us-loader-plugin-wrapper .ud-d-list-wrapper .heading > h3:after {
	
	content: '';
	
	position: absolute;
	display: block;
	
	top: 50%;
	left: calc( 100% + <?= VUI_SPACING; ?>em );
	
	width: 20000%;
	height: 0;
	
	border-bottom: thin solid <?= $vui->colors->vui_darker->rgba_s( 30 ); ?>;
	
}
.ud-d-list-results-title-wrapper > .s1:after,
.sf-us-loader-plugin-wrapper .ud-d-list-wrapper .heading > h3:after {
	
	left: auto;
	right: 120%;
	
}
.ud-d-list-results-title-wrapper .ud-d-list-results-count {
	
	font-weight: bold;
	
}

<?php
	
	$thumb_size_data_list = '96px';
	$default_grid_margin = VUI_SPACING;
	
?>


.ud-data-schema-item {
	
	padding-left: <?= VUI_SPACING / 2; ?>em;
	padding-right: <?= VUI_SPACING / 2; ?>em;
	
}
.ud-data {
	
	position: relative;
	
	padding: <?= $default_grid_margin; ?>em;
	margin: 0;
	
	width: 100%;
	
}
.ud-d-list-layout-default .ud-data {
	
	margin: 0 <?= $default_grid_margin / 2; ?>em <?= $default_grid_margin; ?>em;
	
	border: thin solid <?= $vui->colors->vui_site_fg->rgba_s( 20 ); ?>;
	
}
.sf-us-loader-plugin-wrapper .ud-data {
	
}

.sf-us-loader-plugin-wrapper .ud-d-list-wrapper.vui-icon-home .heading {
	
	
	
}

.ud-data * {
	
	word-break: normal;
	white-space: normal;
	
}
.ud-data > .item {
	
	position: relative;
	display: block;
	
	z-index: 1;
	
}



<?php for ( $i = 1; $i <= VUI_MAX_COLUMNS; $i++ ) { ?>

.ud-d-list-layout-default .columns-<?= $i; ?> .ud-data {
	
	<?= $vui->css->display_inline_block(); ?>
	
	width: calc( <?= 100 / $i; ?>% - <?= $default_grid_margin; ?>em );
	
}

<?php } ?>


<?= '@media screen and ( min-width: 0px ) and ( max-width: 499.9px ) {' ?>
	
	.ud-d-list-layout-default .ud-data {
		
		width: calc( 100% - <?= $default_grid_margin; ?>em ) ! important;
		
	}
	
}
<?= '@media screen and ( min-width: 500px ) and ( max-width: 699.9px ) {' ?>
	
	.ud-d-list-layout-default .ud-data {
		
		width: calc( 50% - <?= $default_grid_margin; ?>em ) ! important;
		
	}
	.ud-d-list-layout-default .columns-1 .ud-data {
		
		width: calc( 100% - <?= $default_grid_margin; ?>em ) ! important;
		
	}
	
}
<?= '@media screen and ( min-width: 700px ) and ( max-width: 899.9px ) {' ?>
	
	.ud-d-list-layout-default .ud-data {
		
		width: calc( <?= 100 / 3; ?>% - <?= $default_grid_margin; ?>em ) ! important;
		
	}
	.ud-d-list-layout-default .columns-2 .ud-data {
		
		width: calc( 50% - <?= $default_grid_margin; ?>em ) ! important;
		
	}
	.ud-d-list-layout-default .columns-1 .ud-data {
		
		width: calc( 100% - <?= $default_grid_margin; ?>em ) ! important;
		
	}
	
}
<?= '@media screen and ( min-width: 900px ) and ( max-width: 1099.9px ) {' ?>
	
	.ud-d-list-layout-default .ud-data {
		
		width: calc( <?= 100 / 4; ?>% - <?= $default_grid_margin; ?>em ) ! important;
		
	}
	.ud-d-list-layout-default .columns-3 .ud-data {
		
		width: calc( <?= 100 / 3; ?>% - <?= $default_grid_margin; ?>em ) ! important;
		
	}
	.ud-d-list-layout-default .columns-2 .ud-data {
		
		width: calc( 50% - <?= $default_grid_margin; ?>em ) ! important;
		
	}
	.ud-d-list-layout-default .columns-1 .ud-data {
		
		width: calc( 100% - <?= $default_grid_margin; ?>em ) ! important;
		
	}
	
}
<?= '@media screen and ( min-width: 1100px ) and ( max-width: 1200px ) {' ?>
	
	.ud-d-list-layout-default .ud-data {
		
		width: calc( <?= 100 / 5; ?>% - <?= $default_grid_margin; ?>em ) ! important;
		
	}
	.ud-d-list-layout-default .columns-4 .ud-data {
		
		width: calc( <?= 100 / 4; ?>% - <?= $default_grid_margin; ?>em ) ! important;
		
	}
	.ud-d-list-layout-default .columns-3 .ud-data {
		
		width: calc( <?= 100 / 3; ?>% - <?= $default_grid_margin; ?>em ) ! important;
		
	}
	.ud-d-list-layout-default .columns-2 .ud-data {
		
		width: calc( 50% - <?= $default_grid_margin; ?>em ) ! important;
		
	}
	.ud-d-list-layout-default .columns-1 .ud-data {
		
		width: calc( 100% - <?= $default_grid_margin; ?>em ) ! important;
		
	}
	
}




.ud-data-schema-item:first-child,
.ud-data-schema-item:last-child,
.ud-data.has-ud-image > .item:not( .ud-images-wrapper ):not( .ud-event-datetimes-wrapper ):not( .ud-data-list-d-readmore-link-wrapper ) {
	
	padding-left: <?= VUI_SPACING; ?>em;
	padding-right: <?= VUI_SPACING; ?>em;
	
}

/* images */



.ud-data.has-ud-image > .item.ud-images-wrapper {
	
	float: left;
	width: calc( <?= $thumb_size_data_list; ?> + <?= VUI_SPACING; ?>em );
	
	z-index: 2;
	
	background-image: none !important;
	
}
.ud-data.has-ud-image > .item.ud-images-wrapper > .thumb {
	
	width: 100%;
	margin: 0;
	
}
.ud-data.has-ud-image > .item.ud-images-wrapper > .thumb > .s1 {
	
	max-height: 100%;
	max-width: 100%;
	display: block;
	
}
.ud-data.has-ud-image > .item.ud-images-wrapper > .thumb > .s1 > .s2 img {
	
	max-width: 100%;
	width: 100%;
	
}

/* event datetime + image */

.ud-data.has-ud-image.has-ud-event-datetime > .item.ud-images-wrapper {
	
	display: none;
	
}
/*.ud-data.has-ud-image.has-ud-event-datetime > .item.ud-images-wrapper .thumb .s1 {
	
}
.ud-data.has-ud-image.has-ud-event-datetime > .item.ud-images-wrapper * {
	
	position: absolute;
	
	left: 0;
	top: 0;
	
	float: none;
	
	width: 100%;
	height: 100%;
	
	padding: 0;
	margin: 0;
	
	border: 0;
	
	<?= $vui->css->box_shadow( 'none' ); ?>;
	
}*/

/* event datetime */

.ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper {
	
	position: relative;
	<?= $vui->css->display_inline_block(); ?>
	
	min-height: <?= VUI_SPACING * 2 + 3; ?>em;
	
	padding: <?= VUI_SPACING; ?>em;
	
	background-color: <?= $vui->colors->vui_base->rgba_s( 10 ); ?>;
	background-size: 50% auto;
	background-position: left center;
	
	<?= $vui->css->box_shadow( '0 1px 15px ' . $vui->colors->vui_base->darken( 30, TRUE )->rgba_s( 10 ) . ', 0 0 50px ' . $vui->colors->vui_base->darken( 30, TRUE )->rgba_s( 30 ) ); ?>;
	
	z-index: 2;
	
}
.ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper:before,
.ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper:after {
	
	content: '';
	
	position: absolute;
	
	left: 50%;
	top: calc( 50% - <?= VUI_SPACING; ?>em );
	
	float: none;
	
	width: 1em;
	height: 0.5em;
	
	margin-left: -0.5em;
	
	background: white;
	
	<?= $vui->css->box_shadow( '0 0px 5px ' . $vui->colors->vui_base->darken( 30, TRUE )->rgba_s( 100 ) ); ?>;
	
	z-index: 3;
	
}
.ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper:after {
	
	top: calc( 50% + <?= VUI_SPACING / 2; ?>em );
	
}
.ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .ud-data-prop > .title,
.ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime .item {
	
	position: relative;
	display: none;
	
}
.ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .ud-data-prop > .value {
	
	width: 100%;
	
}
.ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .relative-datetime,
.ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime {
	
}
.ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .relative-datetime,
.ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime .item {
	
	position: relative;
	
	max-width: 50%;
	
	z-index: 2;
	text-align: left;
	
}
.ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .relative-datetime {
	
	font-size: 100%;
	
}
.ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime {
	
	z-index: 0;
	
}
.ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime .item.day-d,
.ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime .item.month-B,
.ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime .item.year-Y {
	
	display: block;
	
}
.ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime .day-d {
	
	float: left;
	
	font-size: 3em;
	line-height: 100%;
	
	height: 100%;
	
	margin-left: 0;
	
	color: <?= $vui->colors->vui_base->get_ro_color( 60 )->rgba_s(); ?>;
	
}
.ud-data.has-ud-event-datetime.has-ud-image .item.ud-event-datetimes-wrapper .normal-datetime .day-d {
	
	<?= $vui->css->text_shadow( '0 0 5px ' . $vui->colors->vui_base->darken( 30, TRUE )->rgba_s( 100 ) . ', 0 0 50px ' . $vui->colors->vui_base->darken( 30, TRUE )->rgba_s( 255 ) ); ?>;
	
}
.ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .relative-datetime,
.ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime .item.month-B,
.ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime .item.year-Y {
	
	display: block;
	
	width: 50%;
	
	padding-left: 10px;
	padding-right: 10px;
	
	margin-left: 50%;
	
	text-align: right;
	
}
.ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime .item.month-B,
.ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime .item.year-Y {
	
	margin-bottom: <?= VUI_SPACING / 3; ?>em;
	
}
.ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime .item.month-B {
	
	font-size: 80%;
	
}
.ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime .item.year-Y {
	
	font-size: 130%;
	
}
.ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime .item.month-B::first-letter {
	
	text-transform: uppercase;
	
}
.ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime:before,
.ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime:after {
	
	content: '';
	
	position: absolute;
	
	left: 50%;
	top: 0;
	
	width: 50%;
	height: 100%;
	
	z-index: 1;
	
	background: <?= $vui->colors->vui_site_bg->rgba_s(); ?>;
	
}
.ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime:before {
	
	left: 0;
	
	background: <?= $vui->colors->vui_base->rgba_s( 150 ); ?>;
	
}






/* Title metadata */

.ud-data.has-ud-title > .item.ud-titles-wrapper {
	
	z-index: 2;
	
}
.ud-data.has-ud-title > .item.ud-titles-wrapper > .ud-data-prop > .value {
	
	margin-top: 0;
	font-size: 140%;
	
}
.ud-d-detail-layout-default .page-title .ud-title-prop:after {
	
}
.ud-d-detail-layout-default .page-title .ud-title-prop:last-of-type:after {
	
	display: none;
	
}

<?php
	
	$vui_ud_title_bg = '
		
		0%{
			
			background-position: 0px 0px;
			
		}
		
		100%{
			
			background-position: 100% 0;
			
		}
		
	';
	
?>

<?= $vui->css->keyframes( 'vui_ud_title_bg', $vui_ud_title_bg ); ?>

.ud-d-list-layout-default.ud-image-on-title > .page-title,
.ud-d-detail-layout-default.ud-image-on-title > .page-title {
	
	position: relative;
	
	background-size: 100% auto;
	background-position: 0px 0px;
	background-repeat: repeat-x;
	
	<?= $vui->css->animation( 'vui_ud_title_bg 40s linear infinite' ); ?>
	
}
.ud-d-list-layout-default.ud-image-on-title > .page-title > *,
.ud-d-detail-layout-default.ud-image-on-title > .page-title > *{
	
	position: relative;
	
	z-index: 2;
	
}
.ud-d-list-layout-default.ud-image-on-title > .page-title:before,
.ud-d-detail-layout-default.ud-image-on-title > .page-title:before {
	
	content: '';
	
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	
/* 	<?= $vui->css->gradient( $vui->colors->vui_base->darken( 20, TRUE )->rgba_s(), $vui->colors->vui_base->darken( 20, TRUE )->rgba_s( 0 ) ); ?> */
	
	z-index: 1;
	
}
.ud-d-list-layout-default.ud-image-on-title > .page-title > *:last-child,
.ud-d-detail-layout-default.ud-image-on-title > .page-title > *:last-child {
	
	border-bottom: 0;
	
	padding: <?= VUI_SPACING; ?>em;
	
	<?= $vui->css->text_shadow( '0 0 120px ' . $vui->colors->vui_base->darken( 20, TRUE )->rgba_s() . ', 0 0 20px ' . $vui->colors->vui_base->darken( 20, TRUE )->rgba_s() . ', 0 1px 0 ' . $vui->colors->vui_base->darken( 20, TRUE )->rgba_s() ); ?>;
	
	color: <?= $vui->colors->vui_base->get_ro_color( 50 )->rgba_s(); ?>;
	
}


.ud-d-list-layout-default .ud-title-prop.id,
.ud-d-detail-layout-default .ud-title-prop.id,
.ud-d-list-layout-default .ud-title-prop.submit_datetime,
.ud-d-detail-layout-default .ud-title-prop.submit_datetime,
.ud-d-list-layout-default .ud-title-prop.mod_datetime,
.ud-d-detail-layout-default .ud-title-prop.mod_datetime {
	
	display: block;
	
	font-size: 40%;
	
}
.ud-d-list-layout-default .ud-title-prop > .value,
.ud-d-detail-layout-default .ud-title-prop > .value,
.ud-d-list-layout-default .ud-title-prop > .title,
.ud-d-detail-layout-default .ud-title-prop > .title {
	
	position: relative;
	
	<?= $vui->css->display_inline_block(); ?>
	
}
.ud-d-list-layout-default .ud-title-prop > .title,
.ud-d-detail-layout-default .ud-title-prop > .title {
	
	display: none;
	
}
.ud-d-list-layout-default .ud-title-prop.id > .title,
.ud-d-detail-layout-default .ud-title-prop.id > .title,
.ud-d-list-layout-default .ud-title-prop.submit_datetime > .title,
.ud-d-detail-layout-default .ud-title-prop.submit_datetime > .title,
.ud-d-list-layout-default .ud-title-prop.mod_datetime > .title,
.ud-d-detail-layout-default .ud-title-prop.mod_datetime > .title {
	
	<?= $vui->css->display_inline_block(); ?>
	
}



/* content */


/* status */

.ud-data.has-ud-status .ud-status-wrapper {
	
	line-height: inherit;
	
	background-image: none !important;
	
}
.ud-data.has-ud-status .ud-status-wrapper > .ud-data-prop-ud-status {
	
	font-size: 80%;
	
	line-height: inherit;
	
	<?= $vui->css->display_inline_block(); ?>
	
	padding: 0 <?= VUI_SPACING; ?>em;
	
	<?= $vui->css->border_radius( '100000px' ); ?>
	
	<?= $vui->css->transition( VUI_DEFAULT_TRANSITION ) ?>
	
}
.ud-data.has-ud-status .ud-status-wrapper > .ud-data-prop-ud-status:before {
	
	font-size: 90%;
	
	font-family: 'openvizz-set';
	
	display: inline;
	
	padding: <?= VUI_SPACING / 3; ?>em;
	
	<?= $vui->css->border_radius( '100%' ); ?>
	
	line-height: 2em;
	
	width: 1em;
	height: 1em;
	
	text-align: center;
	
}
.ud-data.has-ud-status .ud-status-wrapper > .ud-data-prop-ud-status > .ud-data-value-wrapper {
	
}
.ud-data.has-ud-status .ud-data-prop-ud-status > .ud-data-value-wrapper > .title {
	
	display: none;
	
}
.ud-data.has-ud-status .ud-data-prop-ud-status > .ud-data-value-wrapper,
.ud-data.has-ud-status .ud-data-prop-ud-status > .ud-data-value-wrapper > .value {
	
	padding: 0;
	
	line-height: inherit;
	
}


.ud-data.has-ud-status .ud-status-wrapper > .status-active {
	
	color: <?= $vui->colors->vui_status_active_fg->rgba_s(); ?>;
	
	background-color: <?= $vui->colors->vui_status_active_bg->rgba_s(); ?>;
	
}

.ud-data.has-ud-status .ud-status-wrapper > .status-inactive {
	
	color: <?= $vui->colors->vui_status_inactive_fg->rgba_s(); ?>;
	
	background-color: <?= $vui->colors->vui_status_inactive_bg->rgba_s(); ?>;
	
}
.ud-data.has-ud-status .ud-status-wrapper > .status-inactive * {
	
	color: <?= $vui->colors->vui_status_inactive_fg->rgba_s(); ?>;
	
}


.ud-data.has-ud-status .ud-status-wrapper > .status-enabled {
	
	color: <?= $vui->colors->vui_status_enabled_fg->rgba_s(); ?>;
	
	background-color: <?= $vui->colors->vui_status_enabled_bg->rgba_s(); ?>;
	
}
.ud-data.has-ud-status .ud-status-wrapper > .status-enabled * {
	
	color: <?= $vui->colors->vui_status_enabled_fg->rgba_s(); ?>;
	
}
.ud-data.has-ud-status .ud-status-wrapper > .status-enabled:before {
	
	color: <?= $vui->colors->vui_status_enabled_fg->rgba_s(); ?>;
	
	content: "\e033";
	
}


.ud-data.has-ud-status .ud-status-wrapper > .status-postponed {
	
	color: <?= $vui->colors->vui_status_postponed_fg->rgba_s(); ?>;
	
	background-color: <?= $vui->colors->vui_status_postponed_bg->rgba_s(); ?>;
	
}
.ud-data.has-ud-status .ud-status-wrapper > .status-postponed * {
	
	color: <?= $vui->colors->vui_status_postponed_fg->rgba_s(); ?>;
	
}


.ud-data.has-ud-status .ud-status-wrapper > .status-archived {
	
	color: <?= $vui->colors->vui_status_archived_fg->rgba_s(); ?>;
	
	background-color: <?= $vui->colors->vui_status_archived_bg->rgba_s(); ?>;
	
}
.ud-data.has-ud-status .ud-status-wrapper > .status-archived * {
	
	color: <?= $vui->colors->vui_status_archived_fg->rgba_s(); ?>;
	
}


.ud-data.has-ud-status .ud-status-wrapper > .status-published {
	
	color: <?= $vui->colors->vui_status_published_fg->rgba_s(); ?>;
	
	background-color: <?= $vui->colors->vui_status_published_bg->rgba_s(); ?>;
	
}
.ud-data.has-ud-status .ud-status-wrapper > .status-published * {
	
	color: <?= $vui->colors->vui_status_published_fg->rgba_s(); ?>;
	
}


.ud-data.has-ud-status .ud-status-wrapper > .status-unpublished {
	
	color: <?= $vui->colors->vui_status_unpublished_fg->rgba_s(); ?>;
	
	background-color: <?= $vui->colors->vui_status_unpublished_bg->rgba_s(); ?>;
	
}
.ud-data.has-ud-status .ud-status-wrapper > .status-unpublished * {
	
	color: <?= $vui->colors->vui_status_unpublished_fg->rgba_s(); ?>;
	
}


.ud-data.has-ud-status .ud-status-wrapper > .status-scheduled {
	
	color: <?= $vui->colors->vui_status_scheduled_fg->rgba_s(); ?>;
	
	background-color: <?= $vui->colors->vui_status_scheduled_bg->rgba_s(); ?>;
	
}
.ud-data.has-ud-status .ud-status-wrapper > .status-scheduled * {
	
	color: <?= $vui->colors->vui_status_scheduled_fg->rgba_s(); ?>;
	
}


.ud-data.has-ud-status .ud-status-wrapper > .status-canceled {
	
	color: <?= $vui->colors->vui_status_canceled_fg->rgba_s(); ?>;
	
	background-color: <?= $vui->colors->vui_status_canceled_bg->rgba_s(); ?>;
	
}
.ud-data.has-ud-status .ud-status-wrapper > .status-canceled * {
	
	color: <?= $vui->colors->vui_status_canceled_fg->rgba_s(); ?>;
	
}


.ud-data.has-ud-status .ud-status-wrapper > .status-disabled {
	
	color: <?= $vui->colors->vui_status_disabled_fg->rgba_s(); ?>;
	
	background-color: <?= $vui->colors->vui_status_disabled_bg->rgba_s(); ?>;
	
}
.ud-data.has-ud-status .ud-status-wrapper > .status-disabled * {
	
	color: <?= $vui->colors->vui_status_disabled_fg->rgba_s(); ?>;
	
}





/* other info */

.ud-data.has-ud-other_info > .item.ud-other-infos-wrapper {
	
	background-image: none !important;
	
}
.ud-data > .item.ud-other-infos-wrapper .ud-other-infos-table {
	
	width: 100%;
	
}
.ud-d-list-layout-default .ud-data > .item.ud-other-infos-wrapper .ud-data-prop {
	
	font-size: 80%;
	
}
.ud-data > .item.ud-other-infos-wrapper .ud-data-prop .title,
.ud-data > .item.ud-other-infos-wrapper .ud-data-prop .value {
	
	padding: 0;
	border: none;
	vertical-align: top;
	
	line-height: normal;
	
}


.ud-data > .item.ud-other-infos-wrapper .ud-data-prop .title {
	
	font-style: italic;
	
	word-break: normal;
	white-space: nowrap;
	
	width: 1px;
	
}
.ud-data > .item.ud-other-infos-wrapper .ud-data-prop .value {
	
	padding-left: <?= VUI_SPACING; ?>em;
	font-weight: normal;
	
	width: calc( 100% - 1px );
	
}
.ud-data > .item .ud-data-prop.ud-data-prop-type-url > .value,
.ud-data > .item .ud-data-prop.ud-data-prop-type-url > .value *,
.ud-data > .item .ud-data-prop.ud-data-prop-type-email > .value,
.ud-data > .item .ud-data-prop.ud-data-prop-type-email > .value * {
	
	word-break: break-all;
	
}




.ud-d-list-layout-default .ud-data > .item.ud-data-list-d-readmore-link-wrapper {
	
	position: absolute;
	
	right: <?= VUI_SPACING; ?>em;
	bottom: <?= VUI_SPACING; ?>em;
	
	width: <?= VUI_SPACING * 3; ?>em;
	height: <?= VUI_SPACING * 3; ?>em;
	
	overflow: hidden;
	
	text-indent: -100000px;
		
	<?= $vui->css->border_radius( '100%' ) ?>
	
	border: none !important;
	
	margin: 0;
	
	z-index: 3;
	
}
.desktop .ud-d-list-layout-default .ud-data > .item.ud-data-list-d-readmore-link-wrapper {
	
	display: none;
	
}
.desktop .ud-d-list-layout-default .ud-data:hover > .item.ud-data-list-d-readmore-link-wrapper {
	
	display: block;
	
}
.ud-d-list-layout-default .ud-data > .item.ud-data-list-d-readmore-link-wrapper * {
	
	position: absolute;
	
	left: 0;
	top: 0;
	
	width: 100%;
	height: 100%;
	
	background: none;
	
	border: none !important;
	
}
.ud-d-list-layout-default .ud-data > .item.ud-data-list-d-readmore-link-wrapper a {
	
	background-color: <?= $vui->colors->vui_site_bg->rgba_s(); ?>;
	background-image: url(<?= $vui->svg_file( 'icon-readmore', $vui->colors->vui_link->rgba_s() ); ?>);
	background-position: center center;
	
}
.ud-d-list-layout-default .ud-data > .item.ud-data-list-d-readmore-link-wrapper:hover a {
	
	background-image: url(<?= $vui->svg_file( 'icon-readmore', $vui->colors->vui_link_hover->rgba_s() ); ?>);
	
}




/* general */

.ud-data.has-ud-content > .item.ud-contents-wrapper,
.ud-data.has-ud-other_info > .item.ud-other-infos-wrapper {
	
	width: 100%;
	
	z-index: 1;
	
	background-image: none !important;
	
}
.ud-data.has-ud-title.has-ud-event-datetime > .item.ud-titles-wrapper,
.ud-data.has-ud-event-datetime > .item.ud-event-datetimes-wrapper,
.ud-data-schema-item:not( .ud-no-other-infos ) .ud-data.has-ud-content > .item.ud-contents-wrapper,
.ud-data-schema-item:not( .ud-no-contents ) .ud-data.has-ud-other_info.has-ud-content > .item.ud-other-infos-wrapper {
	
	width: 40%;
	
	float: left;
	
}
.ud-data.has-ud-title.has-ud-event-datetime > .item.ud-event-datetimes-wrapper,
.ud-data-schema-item:not( .ud-no-contents ) .ud-data.has-ud-other_info > .item.ud-other-infos-wrapper {
	
	clear: left;
	
}
.ud-data.has-ud-event-datetime > .item.ud-event-datetimes-wrapper {
	
	margin-right: <?= VUI_SPACING; ?>em;
	margin-bottom: <?= VUI_SPACING; ?>em;
	
}
.ud-data.has-ud-other_info > .item.ud-other-infos-wrapper {
	
}
.ud-data.has-ud-title.has-ud-event-datetime > .item.ud-titles-wrapper,
.ud-data-schema-item:not( .ud-no-other-infos ) .ud-data.has-ud-content.has-ud-other_info > .item.ud-contents-wrapper {
	
	width: 60%;
	
	float: right;
	clear: right;
	
	padding-left: <?= VUI_SPACING; ?>em;
	
	margin-left: -<?= VUI_SPACING; ?>em;
	
}


<?= '@media screen and ( max-width: 1920px ) {' ?>
	
	.ud-data-schema-list.items-list:not( .total-items-list-1 ) .ud-d-list-layout-default .ud-data.has-ud-event-datetime > .item.ud-event-datetimes-wrapper,
	.ud-data-schema-list.items-list:not( .total-items-list-1 ) .ud-d-list-layout-default .ud-data.has-ud-title.has-ud-event-datetime > .item.ud-titles-wrapper {
		
		display: block;
		
		width: 100%;
		
		float: none;
		
	}
	
}

<?= '@media screen and ( max-width: 1200px ) {' ?>
	
	.ud-data-schema-list.items-list:not( .total-items-list-1 ) .ud-d-list-layout-default .ud-data.has-ud-event-datetime > .item.ud-event-datetimes-wrapper,
	.ud-data-schema-list.items-list:not( .total-items-list-1 ) .ud-d-list-layout-default .ud-data.has-ud-title.has-ud-event-datetime > .item.ud-titles-wrapper {
		
		display: block;
		
		width: 40%;
		
		float: left;
		
	}
	.ud-data-schema-list.items-list:not( .total-items-list-1 ) .ud-d-list-layout-default .ud-data.has-ud-title.has-ud-event-datetime > .item.ud-titles-wrapper {
		
		width: 60%;
		
		float: right;
		
	}
	
}


.ud-data.ud-no-images > .item.ud-images-wrapper,
.ud-no-images .ud-data > .item.ud-images-wrapper,

.ud-data.ud-no-titles > .item.ud-titles-wrapper,
.ud-no-titles .ud-data > .item.ud-titles-wrapper,

.ud-data.ud-no-event-datetimes > .item.ud-event-datetimes-wrapper,
.ud-no-event-datetimes .ud-data > .item.ud-event-datetimes-wrapper,

.ud-data.ud-no-contents > .item.ud-contents-wrapper,
.ud-no-contents .ud-data > .item.ud-contents-wrapper,

.ud-data.ud-no-other-infos > .item.ud-other-infos-wrapper,
.ud-no-other-infos .ud-data > .item.ud-other-infos-wrapper,

.ud-data.ud-no-status > .item.ud-status-wrapper,
.ud-no-status .ud-data > .item.ud-status-wrapper {
	
	display: none;
	
}
.ud-data.ud-no-images > .item.ud-event-datetimes-wrapper,
.ud-no-images .ud-data > .item.ud-event-datetimes-wrapper {
	
	background-image: none !important;
	
}





/* ud dl minimal */

.ud-dl-minimal .ud-data {
	
	<?= $vui->css->display_inline_box(); ?>
	
	padding: <?= VUI_SPACING / 2; ?>em 0;
	margin: <?= VUI_SPACING / 2; ?>em 0;
	
	<?= $vui->css->box_orient( 'vertical' ); ?>;
	
}
.ud-dl-minimal .ud-data > .item.ud-images-wrapper,
.ud-dl-minimal .ud-data > .item.ud-titles-wrapper,
.ud-dl-minimal .ud-data > .item.ud-event-datetimes-wrapper,
.ud-dl-minimal .ud-data > .item.ud-contents-wrapper,
.ud-dl-minimal .ud-data > .item.ud-other-infos-wrapper,
.ud-dl-minimal .ud-data > .item.ud-status-wrapper {
	
	<?= $vui->css->display_box(); ?>
	
}

.ud-dl-minimal .ud-data > .item.ud-images-wrapper {
	
	<?= $vui->css->box_ordinal_group( '1' ); ?>;
	
}
.ud-dl-minimal .ud-data > .item.ud-titles-wrapper {
	
	<?= $vui->css->box_ordinal_group( '2' ); ?>;
	
}
.ud-dl-minimal .ud-data > .item.ud-event-datetimes-wrapper {
	
	<?= $vui->css->box_ordinal_group( '3' ); ?>;
	
}
.ud-dl-minimal .ud-data > .item.ud-contents-wrapper {
	
	<?= $vui->css->box_ordinal_group( '4' ); ?>;
	
}
.ud-dl-minimal .ud-data > .item.ud-other-infos-wrapper {
	
	<?= $vui->css->box_ordinal_group( '5' ); ?>;
	
}
.ud-dl-minimal .ud-data > .item.ud-status-wrapper {
	
	<?= $vui->css->box_ordinal_group( '5' ); ?>;
	
}

.ud-dl-minimal .ud-data.has-ud-event-datetime > .item.ud-event-datetimes-wrapper,
.ud-dl-minimal .ud-data.has-ud-content > .item.ud-contents-wrapper,
.ud-dl-minimal .ud-data.has-ud-other_info > .item.ud-other-infos-wrapper {
	
	width: 100%;
	
}
.ud-dl-minimal .ud-data.has-ud-event-datetime > .item.ud-event-datetimes-wrapper {
	
	float: none;
	
	min-height: initial;
	
	padding: 0;
	
	margin-right: 0;
	margin-bottom: <?= VUI_SPACING / 2; ?>em;
	
	<?= $vui->css->box_shadow( 'none' ); ?>;
	
}
.ud-dl-minimal .ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper:before,
.ud-dl-minimal .ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper:after {
	
	display: none;
	
}
.ud-dl-minimal .ud-data.has-ud-other_info > .item.ud-other-infos-wrapper {
	
	padding-right: <?= VUI_SPACING; ?>em;
	
}
.ud-dl-minimal .ud-data.has-ud-title.has-ud-event-datetime > .item.ud-titles-wrapper,
.ud-dl-minimal .ud-data-schema-item:not( .ud-no-other-infos ) .ud-data.has-ud-content.has-ud-other_info > .item.ud-contents-wrapper {
	
	width: 100%;
	
	float: none;
	clear: none;
	
	padding-left: <?= VUI_SPACING; ?>em;
	
	margin-left: -<?= VUI_SPACING; ?>em;
	
}


<?= '@media screen and ( max-width: 1024px ) {' ?>
	
	.ud-dl-minimal .ud-data {
		
	}
	
}

<?= '@media screen and ( max-width: 1200px ) {' ?>
	
}

.ud-dl-minimal .ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime,
.ud-dl-minimal .ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .relative-datetime,
.ud-dl-minimal .ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime .item,
.ud-dl-minimal .ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime .item.day-d,
.ud-dl-minimal .ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime .item.month-B,
.ud-dl-minimal .ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime .item.year-Y {
	
	position: initial;
	display: initial;
	
	float: initial;
	
	width: initial;
	height: initial;
	max-width: initial;
	
	padding: initial;
	margin: initial;
	
	font-size: initial;
	line-height: initial;
	
	padding: initial;
	margin: initial;
	text-align: initial;
	
	vertical-align: initial;
	
	color: initial;
	
}
.ud-dl-minimal .ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime,
.ud-dl-minimal .ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .relative-datetime {
	
	position: relative;
	<?= $vui->css->display_inline_block(); ?>
	
	font-size: 90%;
	
	padding: <?= VUI_SPACING / 2; ?>em;
	margin: 0;
	
	vertical-align: initial;
	
}
.ud-dl-minimal .ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime .item,
.ud-dl-minimal .ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime .item.day-d,
.ud-dl-minimal .ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime .item.month-B,
.ud-dl-minimal .ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime .item.year-Y {
	
	position: relative;
	display: initial;
	
	float: initial;
	
	width: initial;
	height: initial;
	max-width: initial;
	
	font-size: inherit;
	line-height: inherit;
	
	padding: 0;
	margin: 0;
	text-align: left;
	
	vertical-align: inherit;
	
	color: <?= $vui->colors->vui_base->get_ro_color( 60 )->rgba_s(); ?>;
	
}
.ud-dl-minimal .ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .relative-datetime {
	
	color: inherit;
	
	padding: <?= VUI_SPACING / 2; ?>em;
	
}

.ud-dl-minimal .ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime:before,
.ud-dl-minimal .ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime:after {
	
	display: none;
	
	left: 0;
	
	width: 100%;
	
	background: <?= $vui->colors->vui_base->rgba_s( 150 ); ?>;
	
}
.ud-dl-minimal .ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime:before {
	
	display: block;
	
	left: 0;
	
}

.ud-dl-minimal .ud-data.ud-no-images > .item.ud-images-wrapper,
.ud-dl-minimal .ud-no-images .ud-data > .item.ud-images-wrapper,

.ud-dl-minimal .ud-data.ud-no-titles > .item.ud-titles-wrapper,
.ud-dl-minimal .ud-no-titles .ud-data > .item.ud-titles-wrapper,

.ud-dl-minimal .ud-data.ud-no-event-datetimes > .item.ud-event-datetimes-wrapper,
.ud-dl-minimal .ud-no-event-datetimes .ud-data > .item.ud-event-datetimes-wrapper,

.ud-dl-minimal .ud-data.ud-no-contents > .item.ud-contents-wrapper,
.ud-dl-minimal .ud-no-contents .ud-data > .item.ud-contents-wrapper,

.ud-dl-minimal .ud-data.ud-no-other-infos > .item.ud-other-infos-wrapper,
.ud-dl-minimal .ud-no-other-infos .ud-data > .item.ud-other-infos-wrapper,

.ud-dl-minimal .ud-data.ud-no-status > .item.ud-status-wrapper,
.ud-dl-minimal .ud-no-status .ud-data > .item.ud-status-wrapper {
	
	display: none;
	
}
.ud-dl-minimal .ud-data.ud-no-images > .item.ud-event-datetimes-wrapper,
.ud-dl-minimal .ud-no-images .ud-data > .item.ud-event-datetimes-wrapper {
	
	background-image: none !important;
	
}






/* Centros */

.centros .legendas-status-centros{
	
	position: relative;
	display: block;
	
}
.centros .legenda-status-centro{
	
	position: relative;
	<?= $vui->css->display_inline_block(); ?>
	padding: <?= VUI_SPACING / 2; ?>em <?= VUI_SPACING / 2; ?>em <?= VUI_SPACING / 2; ?>em calc( 32px + <?= VUI_SPACING / 2; ?>em );
	background: url(<?= $vui->svg_file( 'icon-centro-filiado', $vui->colors->vui_centro_filiado->rgba_s() ); ?>) no-repeat left center;
	background-size: auto 100%;
	
}
.centros .legenda-status-centro-agregado{
	
	background-image: url(<?= $vui->svg_file( 'icon-centro-agregado', $vui->colors->vui_centro_agregado->rgba_s() ); ?>);
	
}
.centros .legenda-status-centro-nao-renovado{
	
	background-image: url(<?= $vui->svg_file( 'icon-centro-nao-renovado', $vui->colors->vui_centro_nao_renovado->rgba_s() ); ?>);
	
}


.centros .ud-data-item-value-centro-filiado .ud-status-wrapper .user-submit-status-centro-filiado .title,
.centros .ud-data-item-value-centro-agregado .ud-status-wrapper .user-submit-status-centro-agregado .title,
.centros .ud-data-item-value-nao-renovado .ud-status-wrapper .user-submit-status-nao-renovado .title {
	
	display: none;
	
}
.centros .ud-data-item-value-centro-filiado .ud-status-wrapper .user-submit-status-centro-filiado .value,
.centros .ud-data-item-value-centro-agregado .ud-status-wrapper .user-submit-status-centro-agregado .value,
.centros .ud-data-item-value-nao-renovado .ud-status-wrapper .user-submit-status-nao-renovado .value {
	
	position: relative;
	
}
.centros .ud-data-item-value-centro-filiado .ud-status-wrapper .user-submit-status-centro-filiado .value:before,
.centros .ud-data-item-value-centro-agregado .ud-status-wrapper .user-submit-status-centro-agregado .value:before,
.centros .ud-data-item-value-nao-renovado .ud-status-wrapper .user-submit-status-nao-renovado .value:before {
	
	content: '';
	
	position: relative;
	<?= $vui->css->display_inline_block(); ?>
	
	margin-right: <?= VUI_SPACING; ?>em;
	
	width: 48px;
	height: 48px;
	background: url(<?= $vui->svg_file( 'icon-centro-filiado', $vui->colors->vui_centro_filiado->rgba_s() ); ?>) no-repeat left center;
	background-size: auto 100%;
	
	vertical-align: middle;
	
}
.centros .ud-data .ud-titles-wrapper h4{
	
	margin-bottom: 0;
	
}
.centros .ud-data-item-value-centro-agregado .ud-status-wrapper .user-submit-status-centro-agregado .value:before {
	
	background-image: url(<?= $vui->svg_file( 'icon-centro-agregado', $vui->colors->vui_centro_agregado->rgba_s() ); ?>);
	
}
.centros .ud-data-item-value-nao-renovado .ud-status-wrapper .user-submit-status-nao-renovado .value:before {
	
	background-image: url(<?= $vui->svg_file( 'icon-centro-nao-renovado', $vui->colors->vui_centro_nao_renovado->rgba_s() ); ?>);
	
}








/* Eventos / Cursos externos */

.ud-data-schema-list.home-eventos-cursos-externos-wrapper .ud-data-schema-item .heading {
	
	<?= $vui->css->display_inline_block(); ?>
	padding-left: calc( 48px + <?= VUI_SPACING; ?>em );
	padding-top: <?= VUI_SPACING / 2; ?>em;
	padding-bottom: <?= VUI_SPACING / 2; ?>em;
	vertical-align: middle;
	width: 100%;
	
	border-bottom: 5px solid;
	
}
.ud-data-schema-list.home-eventos-cursos-externos-wrapper .ud-data-schema-item .heading h3 {
	
	<?= $vui->css->display_inline_block(); ?>
	min-height: 48px;
	vertical-align: middle;
	width: 100%;
	margin: 0;
	
}

/* 	Eventos	 */

.ud-data-schema-list .ud-data-schema-item.eventos .ud-data {
	
	border-bottom: thin dashed <?= $vui->colors->vui_eventos_fg->rgba_s( 50 ); ?>;
	
}
.ud-data-schema-list .ud-data-schema-item.eventos .heading h3,
.ud-data-schema-list .ud-data-schema-item.eventos .heading h3 a {
	
	color: <?= $vui->colors->vui_eventos_fg->rgba_s(); ?>;
	
}
.ud-data-schema-list .ud-data-schema-item.eventos {
	
	background-color: <?= $vui->colors->vui_eventos_bg->rgba_s(); ?>;
	
	color: <?= $vui->colors->vui_eventos_fg->rgba_s(); ?>;
	
}
.ud-data-schema-list .ud-data-schema-item.eventos .ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime:before {
	
	background-color: <?= $vui->colors->vui_eventos_fg->rgba_s( 200 ); ?>;
	
}
.ud-data-schema-list .ud-data-schema-item.eventos .ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime:after {
	
	background-color: <?= $vui->colors->vui_eventos_bg->lighten( 10, TRUE )->rgba_s(); ?>;
	
}
.ud-data-schema-list .ud-data-schema-item.eventos .ud-data.has-ud-event-datetime.has-ud-image .item.ud-event-datetimes-wrapper .normal-datetime .day-d {
	
	color: <?= $vui->colors->vui_eventos_bg->rgba_s(); ?>;
	
	<?= $vui->css->text_shadow( '0 0 5px ' . $vui->colors->vui_eventos_fg->rgba_s( 100 ) . ', 0 0 50px ' . $vui->colors->vui_eventos_fg->rgba_s() ); ?>;
	
}
.ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper {
	
	<?= $vui->css->box_shadow( '0 1px 15px ' . $vui->colors->vui_eventos_bg->darken( 30, TRUE )->rgba_s( 10 ) . ', 0 0 50px ' . $vui->colors->vui_eventos_bg->darken( 30, TRUE )->rgba_s( 30 ) ); ?>;
	
}
.ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper:before,
.ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper:after {
	
	<?= $vui->css->box_shadow( '0 0px 5px ' . $vui->colors->vui_eventos_bg->darken( 30, TRUE )->rgba_s( 100 ) ); ?>;
	
}
.ud-data-schema-list .ud-data-schema-item.eventos .ud-data a {
	
	color: <?= $vui->colors->vui_eventos_fg->rgba_s(); ?>;
	
}
.ud-data-schema-list .ud-data-schema-item.eventos .heading {
	
	background: url(<?= $vui->svg_file( 'icon-calendar', $vui->colors->vui_eventos_fg->rgba_s(), 'vui_change_color' ); ?>) no-repeat left center;
	border-bottom-color: <?= $vui->colors->vui_eventos_fg->rgba_s( 31 ); ?>;
	
}
.ud-data-schema-list .ud-data-schema-item.eventos .heading h3 {
	
	color: <?= $vui->colors->vui_eventos_fg->rgba_s(); ?>;
	
}
.ud-data-schema-list .ud-data-schema-item.eventos .ud-d-list-layout-default .ud-data > .item.ud-data-list-d-readmore-link-wrapper a {
	
	background-color: <?= $vui->colors->vui_eventos_bg->rgba_s( 100 ); ?>;
	background-image: url(<?= $vui->svg_file( 'icon-readmore', $vui->colors->vui_eventos_fg->rgba_s() ); ?>);
	background-position: center center;
	
}
.ud-data-schema-list .ud-data-schema-item.eventos .ud-d-list-layout-default .ud-data > .item.ud-data-list-d-readmore-link-wrapper:hover a {
	
	background-color: <?= $vui->colors->vui_eventos_fg->rgba_s( 200 ); ?>;
	background-image: url(<?= $vui->svg_file( 'icon-readmore', $vui->colors->vui_eventos_bg->rgba_s() ); ?>);
	
}

/* 	Cursos externos	 */

.ud-data-schema-list .ud-data-schema-item.cursos-externos .ud-data {
	
	border-bottom-color: <?= $vui->colors->vui_cursos_externos_fg->rgba_s( 50 ); ?>;
	
}
.ud-data-schema-list .ud-data-schema-item.cursos-externos .heading h3,
.ud-data-schema-list .ud-data-schema-item.cursos-externos .heading h3 a {
	
	color: <?= $vui->colors->vui_cursos_externos_fg->rgba_s(); ?>;
	
}
.ud-data-schema-list .ud-data-schema-item.cursos-externos {
	
	background-color: <?= $vui->colors->vui_cursos_externos_bg->rgba_s(); ?>;
	
	color: <?= $vui->colors->vui_cursos_externos_fg->rgba_s(); ?>;
	
}
.ud-data-schema-list .ud-data-schema-item.cursos-externos .ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime:before {
	
	background-color: <?= $vui->colors->vui_cursos_externos_fg->rgba_s( 200 ); ?>;
	
}
.ud-data-schema-list .ud-data-schema-item.cursos-externos .ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime:after {
	
	background-color: <?= $vui->colors->vui_cursos_externos_bg->lighten( 7, TRUE )->rgba_s(); ?>;
	
}
.ud-data-schema-list .ud-data-schema-item.cursos-externos .ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper .normal-datetime .day-d {
	
	color: <?= $vui->colors->vui_cursos_externos_bg->rgba_s(); ?>;
	
}
.ud-data-schema-list .ud-data-schema-item.cursos-externos .ud-data.has-ud-event-datetime.has-ud-image .item.ud-event-datetimes-wrapper .normal-datetime .day-d {
	
	<?= $vui->css->text_shadow( '0 0 5px ' . $vui->colors->vui_cursos_externos_fg->rgba_s( 100 ) . ', 0 0 50px ' . $vui->colors->vui_cursos_externos_fg->rgba_s() ); ?>;
	
}
.ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper {
	
	<?= $vui->css->box_shadow( '0 1px 15px ' . $vui->colors->vui_cursos_externos_bg->darken( 30, TRUE )->rgba_s( 10 ) . ', 0 0 50px ' . $vui->colors->vui_cursos_externos_bg->darken( 30, TRUE )->rgba_s( 30 ) ); ?>;
	
}
.ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper:before,
.ud-data.has-ud-event-datetime .item.ud-event-datetimes-wrapper:after {
	
	<?= $vui->css->box_shadow( '0 0px 5px ' . $vui->colors->vui_cursos_externos_bg->darken( 30, TRUE )->rgba_s( 100 ) ); ?>;
	
}
.ud-data-schema-list .ud-data-schema-item.cursos-externos .ud-data a {
	
	color: <?= $vui->colors->vui_cursos_externos_fg->rgba_s(); ?>;
	
}
.ud-data-schema-list .ud-data-schema-item.cursos-externos .heading {
	
	background: url(<?= $vui->svg_file( 'icon-calendar', $vui->colors->vui_cursos_externos_fg->rgba_s(), 'vui_change_color' ); ?>) no-repeat left center;
	border-bottom-color: <?= $vui->colors->vui_cursos_externos_fg->rgba_s( 31 ); ?>;
	
}
.ud-data-schema-list .ud-data-schema-item.cursos-externos .heading h3 {
	
	color: <?= $vui->colors->vui_cursos_externos_fg->rgba_s(); ?>;
	
}
.ud-data-schema-list .ud-data-schema-item.cursos-externos .ud-d-list-layout-default .ud-data > .item.ud-data-list-d-readmore-link-wrapper a {
	
	background-color: <?= $vui->colors->vui_cursos_externos_bg->rgba_s( 100 ); ?>;
	background-image: url(<?= $vui->svg_file( 'icon-readmore', $vui->colors->vui_cursos_externos_fg->rgba_s() ); ?>);
	background-position: center center;
	
}
.ud-data-schema-list .ud-data-schema-item.cursos-externos .ud-d-list-layout-default .ud-data > .item.ud-data-list-d-readmore-link-wrapper:hover a {
	
	background-color: <?= $vui->colors->vui_cursos_externos_fg->rgba_s( 200 ); ?>;
	background-image: url(<?= $vui->svg_file( 'icon-readmore', $vui->colors->vui_cursos_externos_bg->rgba_s() ); ?>);
	
}








/* ------------------ */
/* estilos direcionados à ANDE */

.ud-no-other-info-modalidade .user-submit-content-modalidade {
	
	display: none;
	
}
