
.contact-module-theme-footer-centered{
	
	text-align: center;
	
}

.contact-module-theme-footer-centered .contact-module-phone-title{
	
	position: relative;
	display: block;
	margin-bottom: .5em;
	
}
