

#contact-photo-wrapper {
	
	position: relative;
	
	width: 96px;
	height: 96px;
	
	padding: 0;
	
}

#contact-photo-wrapper > *,
#image-wrapper *,
.vui .vui-interactive-el-wrapper.vui-btn-wrapper.photo-chooser > .el {
	
	position: absolute;
	display: block;
	
	width: 100%;
	height: 100%;
	
	margin: 0;
	padding: 0;
	
}
#image-wrapper img {
	
	background-image: url('<?= $vui->svg_file( 'icon-photo', $vui->colors->vui_base->darken( 30, TRUE )->get_ro_color( 80 )->rgba_s() ); ?>');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50% auto;
	background-color: <?= $vui->colors->vui_base->darken( 30, TRUE )->rgba_s( 150 ); ?>;
	
}
#contact-photo-wrapper > .photo-chooser {
	
	bottom: 0;
	height: auto;
	
}
.vui .vui-interactive-el-wrapper.vui-btn-wrapper.photo-chooser > .el {
	
	position: relative;
	height: 0;
	padding: <?= VUI_SPACING; ?>em;
	
	<?= $vui->css->border_radius( 0 ); ?>
	
	background-color: <?= $vui->colors->vui_base->darken( 30, TRUE )->rgba_s( 150 ); ?>;
	color: <?= $vui->colors->vui_base->darken( 30, TRUE )->get_ro_color( 80 )->rgba_s(); ?>;
	
	border: none;
	
	text-align: center;
	
	<?= $vui->css->opacity( 0 ); ?>
	
	<?= $vui->css->transition( VUI_DEFAULT_TRANSITION ); ?>
	
}
.vui #contact-photo-wrapper:hover .vui-interactive-el-wrapper.vui-btn-wrapper.photo-chooser > .el {
	
	height: auto;
	<?= $vui->css->opacity( 1 ); ?>
	
}
.vui .vui-interactive-el-wrapper.photo-chooser .icon-wrapper {
	
	display: none;
	
}


/*
 *********************************************************
 ---------------------------------------------------------
 Contact details
 ---------------------------------------------------------
 */

.contact-details{
	
	position: relative;
	display: block;
	
}
.contact-wrapper{
	
	position: relative;
	display: block;
	
}
.contact-details .gmaps,
.contact-details .contact-info,
.contact-details .contact-form{
	
	position: relative;
	<?= $vui->css->display_inline_block(); ?>
	
	margin-top: <?= VUI_SPACING; ?>em;
	margin-bottom: <?= VUI_SPACING; ?>em;
	
	padding: <?= VUI_SPACING; ?>em;
	
	width: 35%;
	
	vertical-align: top;
	
}
.contact-details .contact-info{
	
	width: 30%;
	
}
.contact-details .gmaps > .inner,
.contact-details .contact-info > .inner,
.contact-details .contact-form > .inner{
	
	position: relative;
	display: block;
	
}
.contact-details .gmaps{
	
	position: absolute;
	right: 0;
	
	height: 100%;
	
}
.contact-details .gmaps > .inner,
.contact-details .gmaps iframe{
	
	position: absolute;
	display: block;
	
	width: 100% !important;
	height: 100% !important;
	
}


/* ---------------------------------------------------- */
/* Contact Info */

.contact-details .contact-info{
	
	text-align: left;
	
}



/* ---------------------------------------------------- */
/* Contact form */

.contact-details .contact-form-item{
	
	position: relative;
	
}
.contact-details .form-element{
	
	position: relative;
	width: 100%;
	
}



.vui .vui-field-wrapper-inline.email-publicly-visible,
.vui .vui-field-wrapper-inline.email-title-publicly-visible,
.vui .vui-field-wrapper-inline.email-site-msg {
	
	width: 10%;
	
}
.vui .vui-field-wrapper-inline.email {
	
	width: 40%;
	
}
.vui .vui-field-wrapper-inline.email-title {
	
	width: 30%;
	
}
.vui .vui-field-wrapper-inline.email.remove-email .vui-interactive-el-wrapper.email {
	
	width: 80%;
	
}
.vui .vui-field-wrapper-inline.email.remove-email .vui-interactive-el-wrapper.remove-email {
	
	width: 20%;
	
}
.vui .vui-field-wrapper-inline.email.remove-email .vui-interactive-el-wrapper.only-icon > .el {
	
	width: 100%;
	
}


@media screen and ( max-width: 960px ) {
	
	.contact-details .gmaps,
	.contact-details .contact-info,
	.contact-details .contact-form{
		
		width: <?= 100 / 2; ?>%;
		
	}
	.contact-details .gmaps > .inner,
	.contact-details .contact-info > .inner,
	.contact-details .contact-form > .inner{
		
		position: relative;
		display: block;
		
	}
	.contact-details .gmaps{
		
		position: relative;
		right: auto;
		
		width: 100%;
		height: auto;
		
	}
	.contact-details .gmaps > .inner,
	.contact-details .gmaps iframe{
		
		position: relative;
		display: block;
		
		width: 100% !important;
		height: auto !important;
		
	}

}
@media screen and ( max-width: 640px ) {
	
	.contact-details .gmaps,
	.contact-details .contact-info,
	.contact-details .contact-form{
		
		width: 100%;
		
	}
	.contact-details .thumb,
	.contact-details .contact-info{
		
		text-align: center;
		
	}

}



/*
 ---------------------------------------------------------
 Contact details
 ---------------------------------------------------------
 *********************************************************
 */
