
/*
 **************************************************************************************************
 **************************************************************************************************
 --------------------------------------------------------------------------------------------------
 Icons fonts
 --------------------------------------------------------------------------------------------------
 */

@font-face {
	font-family: 'openvizz-set';
	src: url('<?= THEME_FONTS_DIR_URL; ?>/openvizz-set/openvizz-set.eot');
	src: url('<?= THEME_FONTS_DIR_URL; ?>/openvizz-set/openvizz-set.eot?#iefix') format('embedded-opentype'),
		url('<?= THEME_FONTS_DIR_URL; ?>/openvizz-set/openvizz-set.svg#openvizz-set') format('svg'),
		url('<?= THEME_FONTS_DIR_URL; ?>/openvizz-set/openvizz-set.woff') format('woff'),
		url('<?= THEME_FONTS_DIR_URL; ?>/openvizz-set/openvizz-set.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
.icon,
[class^='icon-']:before,
.ui-icon:before {
	
	<?= FONT_ICONS_STYLESHEET; ?>
	
	display: block;
	
}
.icon:before,
.ui-icon:before {

	font-size: inherit;
	line-height: inherit;

}


.icon-sub-item:before {
	content: "\e62c";
}
.icon-add-article:before {
	content: "\e600";
}
.icon-add-user:before,
.icon-c_users_register_section:before {
	content: "\e601";
}
.icon-arrow-down:before {
	content: "\e602";
}
.icon-down:before {
	content: "\e602";
}
.icon-arrow-left:before {
	content: "\e603";
}
.icon-back:before {
	content: "\e603";
}
.icon-arrow-right:before {
	content: "\e604";
}
.icon-forward:before {
	content: "\e604";
}
.icon-arrow-up:before {
	content: "\e605";
}
.icon-up:before {
	content: "\e605";
}
.icon-articles:before,
.icon-articles_module_config:before,
.icon-article_detail:before,
.icon-articles_management:before,
.icon-articles_search:before,
.icon-articles_list:before{
	content: "\e606";
}
.icon-pictures:before,
.icon-images:before,
.icon-gallery:before,
.icon-articles_gallery:before{
	content: "\e63f";
}
.icon-articles_categories_search:before,
.icon-categories:before {
	content: "\e607";
}
.icon-companies:before,
.icon-companies_management:before {
	content: "\e608";
}
.icon-contacts:before,
.icon-contact_details:before,
.icon-contact:before,
.icon-contact_module_config_contact:before,
.icon-contacts_management:before {
	content: "\e609";
}
.icon-decrease:before {
	content: "\e60a";
}
.icon-pencil:before {
	content: "\e60b";
}
.icon-write:before {
	content: "\e60b";
}
.icon-edit:before {
	content: "\e60b";
}
.icon-increase:before,
.icon-add:before {
	
	content: "\e60c";
	
}
.icon-menus:before,
.icon-menus_management:before,
.icon-menu_module_config:before {
	content: "\e60d";
}
.icon-preferences:before {
	content: "\e60e";
}
.icon-remove:before {
	content: "\e60f";
}
.icon-trash:before {
	content: "\e60f";
}
.icon-user:before,
.icon-user_preferences:before {
	content: "\e610";
}
.icon-users:before,
.icon-users_management:before {
	content: "\e611";
}
.icon-pastetext:before {
	content: "\e035";
}
.icon-uniE033:before {
	content: "\e033";
}
.icon-ok:before,
.icon-enabled:before,
.icon-apply:before {
	content: "\e033";
}
.icon-save:before {
	content: "\e000";
}
.icon-newdocument:before {
	content: "\e001";
}
.icon-fullpage:before {
	content: "\e002";
}
.icon-config:before,
.icon-system_config:before {
	content: "\e002";
}
.icon-alignleft:before,
.icon-content:before {
	content: "\e003";
}
.icon-aligncenter:before {
	content: "\e004";
}
.icon-alignright:before {
	content: "\e005";
}
.icon-alignjustify:before {
	content: "\e006";
}
.icon-cut:before {
	content: "\e007";
}
.icon-paste:before {
	content: "\e008";
}
.icon-searchreplace:before {
	content: "\e009";
}
.icon-search:before {
	content: "\e009";
}
.icon-find:before {
	content: "\e009";
}
.icon-bullist:before {
	content: "\e00a";
}
.icon-numlist:before {
	content: "\e00b";
}
.icon-indent:before {
	content: "\e00c";
}
.icon-outdent:before {
	content: "\e00d";
}
.icon-blockquote:before {
	content: "\e00e";
}
.icon-undo:before {
	content: "\e00f";
}
.icon-redo:before {
	content: "\e010";
}
.icon-link:before {
	content: "\e011";
}
.icon-unlink:before {
	content: "\e012";
}
.icon-anchor:before {
	content: "\e013";
}
.icon-image:before {
	content: "\e014";
}
.icon-media:before {
	content: "\e015";
}
.icon-help:before {
	content: "\e016";
}
.icon-code:before {
	content: "\e017";
}
.icon-inserttime:before {
	content: "\e018";
}
.icon-preview:before {
	content: "\e019";
}
.icon-view:before {
	content: "\e019";
}
.icon-forecolor:before {
	content: "\e01a";
}
.icon-table:before {
	content: "\e01b";
}
.icon-hr:before {
	content: "\e01c";
}
.icon-removeformat:before {
	content: "\e01d";
}
.icon-sub:before {
	content: "\e01e";
}
.icon-sup:before {
	content: "\e01f";
}
.icon-charmap:before {
	content: "\e020";
}
.icon-emoticons:before {
	content: "\e021";
}
.icon-print:before {
	content: "\e022";
}
.icon-fullscreen:before {
	content: "\e023";
}
.icon-spellchecker:before {
	content: "\e024";
}
.icon-nonbreaking:before {
	content: "\e025";
}
.icon-template:before {
	content: "\e026";
}
.icon-pagebreak:before {
	content: "\e027";
}
.icon-restoredraft:before {
	content: "\e028";
}
.icon-uniE029:before {
	content: "\e029";
}
.icon-bold0:before {
	content: "\e02a";
}
.icon-italic:before {
	content: "\e02b";
}
.icon-underline:before {
	content: "\e02c";
}
.icon-strikethrough:before {
	content: "\e02d";
}
.icon-visualchars:before {
	content: "\e02e";
}
.icon-ltr:before {
	content: "\e02f";
}
.icon-rtl:before {
	content: "\e030";
}
.icon-copy:before {
	content: "\e031";
}
.icon-resize:before {
	content: "\e032";
}
.icon-uniE034:before,
.icon-browse:before {
	content: "\e034";
}
.icon-uniF000:before {
	content: "\f000";
}
.icon-add-category:before {
	content: "\e612";
}
.icon-key:before {
	content: "\e614";
}
.icon-login:before {
	content: "\e614";
}
.icon-sf_security_and_access:before,
.icon-sf_security:before,
.icon-security:before {
	content: "\e614";
}
.icon-add-menu:before {
	content: "\e615";
}
.icon-menu-items:before,
.icon-menu_item:before {
	content: "\e616";
}
.icon-add-menu-item:before {
	content: "\e617";
}
.icon-logout:before {
	content: "\e618";
}
.icon-analyzer:before {
	content: "\e619";
}
.icon-profiler:before {
	content: "\e619";
}
.icon-add-company:before {
	content: "\e61a";
}
.icon-add-product:before {
	content: "\e61b";
}
.icon-products:before {
	content: "\e61c";
}
.icon-clear:before {
	content: "\e61d";
}
.icon-cancel:before,
.icon-error:before,
.icon-disabled:before {
	content: "\e61e";
}
.icon-vecms:before,
.icon-fire:before,
.icon-viacms:before {
	content: "\e613";
}
.icon-customers:before {
	content: "\e61f";
}
.icon-pdf:before {
	content: "\e620";
}
.icon-truck:before {
	content: "\e622";
}
.icon-providers:before {
	content: "\e623";
}
.icon-vesm:before {
	content: "\e624";
}
.icon-add-provider:before {
	content: "\e625";
}
.icon-places:before,
.icon-places_management:before,
.icon-addresses:before,
.icon-contact_module_config_addresses:before {
	content: "\e621";
}
.icon-coord:before {
	content: "\e621";
}
.icon-map:before {
	content: "\e621";
}
.icon-add-customer:before {
	content: "\e626";
}
.icon-clock:before {
	content: "\e627";
}
.icon-time:before {
	content: "\e627";
}
.icon-schedule:before {
	content: "\e627";
}
.icon-ordering:before {
	content: "\e628";
}
.icon-module:before,
.icon-modules:before,
.icon-modules_management:before {
	content: "\e629";
}
.icon-contact_form:before,
.icon-contact_forms:before,
.icon-sending:before,
.icon-submitter_message_receiving:before {
	content: "\e62a";
}
.icon-responsive_file_manager:before {
	content: "\e034";
}
.icon-websites:before,
.icon-contact_module_config_websites:before,
.icon-preview_site:before {
	content: "\e62b";
}
.icon-web:before,
.icon-seo_config:before,
.icon-site_config:before {
	content: "\e62b";
}
.icon-url:before,
.icon-urls:before,
.icon-urls_management:before {
	content: "\e62d";
}
.icon-submit-forms:before,
.icon-submit_forms:before,
.icon-forms:before,
.icon-submit_forms_management:before {
	content: "\e62e";
}
.icon-document-properties:before,
.icon-basic-details:before,
.icon-details:before {
	content: "\e62f";
}
.icon-email:before,
.icon-email_config:before,
.icon-contact_module_config_emails:before,
.icon-emails:before {
	content: "\e630";
}
.icon-facebook:before,
.icon-facebook_module_config:before {
	content: "\e631";
}
.icon-info:before {
	content: "\e632";
}
.icon-google:before {
	content: "\e633";
}
.icon-disqus:before {
	content: "\e634";
}
.icon-admin_config:before,
.icon-admin:before {
	content: "\e635";
}
.icon-article-detail:before,
.icon-detail_view:before {
	content: "\e636";
}
.icon-google-plus:before,
.icon-google_plus:before {
	content: "\e637";
}
.icon-more:before {
	content: "\e638";
}
.icon-plugins:before {
	content: "\e639";
}
.icon-phone:before,
.icon-contact_module_config_phones:before,
.icon-phones:before{
	content: "\e63a";
}
.icon-layout_specific_params:before,
.icon-appearence:before,
.icon-contact_module_config_look_and_feel:before,
.icon-look_and_feel:before,
.icon-c_users_look_and_feel:before {
	
	content: "\e63b";
	
}
.icon-users_submits:before,
.icon-users-submits:before,
.icon-users_submits_list:before,
.icon-users_submits_module_config:before {
	content: "\e63c";
}
.icon-move-handle:before{
	content: "\e63d";
}
.icon-submit_export_params:before,
.icon-download:before{
	content: "\e63e";
}
.icon-expand:before {
	content: "\e640";
}
.icon-retract:before {
	content: "\e641";
}
.icon-school:before,
.icon-course:before,
.icon-courses:before {
	content: "\e642";
}
.icon-columns:before {
	content: "\e643";
}
.icon-post_sending_messages:before,
.icon-notification:before,
.icon-user-messages:before {
	content: "\e644";
}
.icon-unified-data:before,
.icon-unified_data:before {
	content: "\e645";
}
.icon-ud_ds_api:before,
.icon-api:before {
	content: "\e646";
}

.icon-json:before {
	content: "\e647";
}
.icon-csv:before {
	content: "\e648";
}
.icon-html:before,
.icon-html_module_config:before {
	content: "\e649";
}
.icon-txt:before {
	content: "\e64a";
}
.icon-xls:before {
	content: "\e64b";
}
.icon-add-submit-form:before {
	content: "\e64c";
}
.icon-ipp:before {
	content: "\e64d";
}
.icon-start:before,
.icon-admin_menu_module_config:before {
	content: "\e64e";
}
.icon-input-text:before {
	content: "\e800";
}
.icon-button:before {
	content: "\e801";
}
.icon-combo-box:before {
	content: "\e802";
}
.icon-calendar:before {
	content: "\e803";
}
.icon-checkbox:before {
	content: "\e804";
}
.icon-required:before {
	content: "\e806";
}
.icon-layout-default:before,
.icon-layout_default:before {
	content: "\e807";
}
.icon-layout_mini:before,
.icon-layout-mini:before {
	content: "\e808";
}
.icon-filter:before {
	content: "\e903";
}
.icon-redirect:before,
.icon-redirecting:before,
.icon-sf_redirecting:before,
.icon-reset:before {
	content: "\e904";
}
.icon-components:before {
	content: "\e905";
}
.icon-backcolor:before {
	content: "\e906";
}
.icon-swap:before {
	content: "\e900";
}
.icon-list:before {
	content: "\e901";
}
.icon-detail:before {
	content: "\e902";
}
.icon-instagram:before,
.icon-instagram_snapwidget_module_config:before {
	content: "\e907";
}
.icon-slides:before,
.icon-nivo_slider_module_config:before {
	content: "\e908";
}

/*
 --------------------------------------------------------------------------------------------------
 Icons fonts
 --------------------------------------------------------------------------------------------------
 **************************************************************************************************
 **************************************************************************************************
 */
