
/*
 *********************************************************
 ---------------------------------------------------------
 Modules
 ---------------------------------------------------------
 */

.module-wrapper{
	
	position: relative;
	
}
.module-wrapper .module-title{
	
	color: <?= $vui->colors->vui_site_fg->hex_s; ?>;
	
	<?= $vui->css->display_inline_block(); ?>
	padding: 0;
	margin-bottom: <?= VUI_SPACING; ?>em;
	vertical-align: middle;
	width: 100%;
	
	border-bottom: 5px solid <?= $vui->colors->vui_site_fg->rgba_s( 31 ); ?>;
	text-align: left;
	
}
.module-wrapper .module-title h1,
.module-wrapper .module-title h1 *,
.module-wrapper .module-title h2,
.module-wrapper .module-title h2 *,
.module-wrapper .module-title h3,
.module-wrapper .module-title h3 *,
.module-wrapper .module-title h4,
.module-wrapper .module-title h4 *,
.module-wrapper .module-title h5,
.module-wrapper .module-title h5 *,
.module-wrapper .module-title h6,
.module-wrapper .module-title h6 *{
	
	color: <?= $vui->colors->vui_site_fg->hex_s; ?>;
	
}
.module-wrapper .module-title h1,
.module-wrapper .module-title h2,
.module-wrapper .module-title h3,
.module-wrapper .module-title h4,
.module-wrapper .module-title h5,
.module-wrapper .module-title h6{
	
	<?= $vui->css->display_inline_block(); ?>
	vertical-align: middle;
	width: 100%;
	margin: 0;
	padding: <?= VUI_SPACING; ?>em;
	
}

.module-wrapper .module-content{
	
	position: relative;
	
}
.module-wrapper .module-read-more{
	
	font-family: <?= VUI_SEC_FONT_FAMILY; ?>;
	font-size: <?= ( $min + ( $diff * 2 ) ) . $meas_unit; ?>;
	font-weight: 100;
	line-height: normal;
	<?= $vui->css->display_inline_block(); ?>
	padding-bottom: <?= VUI_SPACING / 2; ?>em;
	padding-top: <?= VUI_SPACING / 2; ?>em;
	margin-top: <?= VUI_SPACING; ?>em;
	vertical-align: middle;
	width: 100%;
	
	border-top: 5px solid <?= $vui->colors->vui_site_fg->rgba_s( 31 ); ?>;
	text-align: right;
	
}
.module-wrapper .module-read-more,
.module-wrapper .module-read-more a{
	
}
.module-wrapper .module-read-more a{
	
	color: <?= $vui->colors->vui_site_fg->lighten( 20, TRUE )->hex_s; ?>;
	background: none;
	
}
.module-wrapper .module-read-more a:hover{
	
	color: <?= $vui->colors->vui_site_fg->lighten( 20, TRUE )->darken( 20, TRUE )->hex_s; ?>;
	background: none;
	
}
.module-wrapper .module-read-more{
	
	color: <?= $vui->colors->vui_site_fg->hex_s; ?>;
	
}






<?php
	
	$_colors = array(
		
		'red',
		'green',
		'orange',
		'yellow',
		'blue',
		'purple',
		
	);
	
?>

<?php foreach ( $_colors as $color ) { ?>

/* -------- <?= $color; ?> color -------- */

.<?= $color; ?>.announce .module-title{
	
	color: <?= $vui->colors->{ 'vui_' . $color }->hex_s; ?>;
	
	padding-left: calc( 48px + <?= VUI_SPACING; ?>em );
	border-bottom-color: <?= $vui->colors->{ 'vui_' . $color }->rgba_s( 31 ); ?>;
	
}

.<?= $color; ?>.announce .module-title{
	
	background-image: url(<?= $vui->svg_file( 'icon-announce', $vui->colors->{ 'vui_' . $color }->hex_s, 'vui_change_color' ); ?>);
	
}
.<?= $color; ?>.facebook-module .module-title{
	
	background-image: url(<?= $vui->svg_file( 'icon-facebook', $vui->colors->{ 'vui_' . $color }->hex_s, 'vui_change_color' ); ?>);
	
}
.<?= $color; ?>.instagram-module .module-title,
.<?= $color; ?>.instagram_snapwidget-module .module-title{
	
	background-image: url(<?= $vui->svg_file( 'icon-instagram', $vui->colors->{ 'vui_' . $color }->hex_s, 'vui_change_color' ); ?>);
	
}
.<?= $color; ?>.facebook-module .module-title{
	
	background-image: url(<?= $vui->svg_file( 'icon-facebook', $vui->colors->{ 'vui_' . $color }->hex_s, 'vui_change_color' ); ?>);
	
}
.<?= $color; ?>.contact-module .module-title{
	
	background-image: url(<?= $vui->svg_file( 'icon-contact', $vui->colors->{ 'vui_' . $color }->hex_s, 'vui_change_color' ); ?>);
	
}
.<?= $color; ?>.calendar .module-title{
	
	background-image: url(<?= $vui->svg_file( 'icon-calendar', $vui->colors->{ 'vui_' . $color }->hex_s, 'vui_change_color' ); ?>);
	
}
.<?= $color; ?>.poll-module .module-title{
	
	background-image: url(<?= $vui->svg_file( 'icon-poll', $vui->colors->{ 'vui_' . $color }->hex_s, 'vui_change_color' ); ?>);
	
}
.<?= $color; ?>.college .module-title{
	
	background-image: url(<?= $vui->svg_file( 'icon-college', $vui->colors->{ 'vui_' . $color }->hex_s, 'vui_change_color' ); ?>);
	
}


.<?= $color; ?> .module-title h1,
.<?= $color; ?> .module-title h1 *,
.<?= $color; ?> .module-title h2,
.<?= $color; ?> .module-title h2 *,
.<?= $color; ?> .module-title h3,
.<?= $color; ?> .module-title h3 *,
.<?= $color; ?> .module-title h4,
.<?= $color; ?> .module-title h4 *,
.<?= $color; ?> .module-title h5,
.<?= $color; ?> .module-title h5 *,
.<?= $color; ?> .module-title h6,
.<?= $color; ?> .module-title h6 *{
	
	color: <?= $vui->colors->{ 'vui_' . $color }->hex_s; ?>;
	
}
.<?= $color; ?> .module-read-more,
.<?= $color; ?> .module-read-more a{
	
}
.<?= $color; ?> .module-read-more{
	
	color: <?= $vui->colors->{ 'vui_' . $color }->hex_s; ?>;
	border-top-color: <?= $vui->colors->{ 'vui_' . $color }->rgba_s( 31 ); ?>;
	
}
.<?= $color; ?> .module-read-more a{
	
	color: <?= $vui->colors->{ 'vui_' . $color }->hex_s; ?>;
	
	background: none;
	color: <?= $vui->colors->{ 'vui_' . $color }->hex_s; ?>;
	
}
.<?= $color; ?> .read-more a:hover{
	
	background: none;
	color: <?= $vui->colors->{ 'vui_' . $color }->darken( 20, TRUE )->hex_s; ?>;
	
}

<?php } ?>

	
/*
 ---------------------------------------------------------
 Modules
 ---------------------------------------------------------
 *********************************************************
 */
