
#menu-item-form textarea#html_content {
	
	width: 100%;
	min-height: 600px;
	
}

.vui .params-group{
	
	position: relative;
	display: block;
	
}

.vui .params-set-wrapper{
	
	position: relative;
	<?= $vui->css->display_inline_block(); ?>;
	display: block;
	
	border: none;
	
	<?= $vui->css->box_shadow( 'none' ); ?>;
	
}
.vui .field-param-wrapper{
	
	position: relative;
	display: block;
	
	border: none;
	
	<?= $vui->css->box_shadow( 'none' ); ?>;
	
	margin: 0px;
	padding: <?= VUI_SPACING; ?>em;
	
	<?= $vui->css->display_inline_block(); ?>;
	
	width: <?= 100 / 6; ?>%;
	
}
.vui .field-param-wrapper.field-param-wrapper-spacer,
.vui .field-param-wrapper.field-param-wrapper-html,
.vui .field-param-wrapper.field-param-wrapper-textarea{
	
	display: block;
	width: 100%;
	
}
.vui .field-param-wrapper .vui-interactive-el-wrapper,
.vui .field-param-wrapper .vui-interactive-el-wrapper > .el{
	
	width: 100%;
	
}
.vui .field-param-wrapper.field-param-wrapper-spacer {
	
	position: relative;
	display: block;
	
	overflow: hidden;
	
	padding: 0;
	margin: 0;
	
}
.vui .field-param-wrapper.field-param-wrapper-spacer > * {
	
	position: relative;
	<?= $vui->css->display_inline_block(); ?>
	
	margin-left: auto;
	margin-right: auto;
	
}
.vui .field-param-wrapper.field-param-wrapper-spacer > *:before,
.vui .field-param-wrapper.field-param-wrapper-spacer > *:after {
	
	content: '';
	
	position: absolute;
	display: block;
	
	top: 50%;
	left: calc( 100% + <?= VUI_SPACING; ?>em );
	
	width: 20000%;
	height: 0;
	
	border-bottom: thin solid <?= $vui->colors->vui_site_fg->rgba_s( 30 ); ?>;
	
}
.vui .field-param-wrapper.field-param-wrapper-spacer > *:after {
	
	left: auto;
	right: calc( 100% + <?= VUI_SPACING; ?>em );
	
}


/* ------------------ */
/* article modal picker */

.vui .field-param-wrapper .article-id {
	
	width: calc( 100% - 50px );
	
}
.vui .field-param-wrapper .vui-interactive-el-wrapper.modal-articles-picker-wrapper {
	
	width: 50px;
	
}
