
/*
 *********************************************************
 ---------------------------------------------------------
 Tabs
 ---------------------------------------------------------
 */

.tabs-on .tabs-container{
	
	position: relative;
	<?= $vui->css->display_inline_block(); ?>
	text-align: center;
	margin: 0 auto;
	
	left: 50%;
	<?= $vui->css->transform( 'translateX(-50%)' ); ?>
	
	z-index: 1;
	
}
.tabs-on .tabs-container:before,
.tabs-on .tabs-container:after{
	
	content: '';
	
	position: absolute;
	display: block;
	
	top: 50%;
	left: 100%;
	
	width: 20000%;
	height: 0;
	
	border-bottom: thin solid <?= $vui->colors->vui_darker->rgba_s( 30 ); ?>;
	
}
.tabs-on .tabs-container:after{
	
	left: auto;
	right: 100%;
	
}
.tabs-on .tabs-container .tab-item-wrapper{
	
	position: relative;
	<?= $vui->css->display_inline_block(); ?>
	text-align: center;
	margin: 0;
	padding: 0;
	
}
.tabs-on .tabs-container .tab-item-wrapper .tab-item{
	
	position: relative;
	
	<?= $vui->css->display_inline_block(); ?>
	
	color: <?= VUI_DEFAULT_FONT_COLOR; ?>;
	
	margin: 0;
	
	border: thin solid <?= $vui->colors->vui_darker->rgba_s( 30 ); ?>;
	border-left: thin solid transparent;
	
	padding-top: .6em;
	padding-right: 1.2em;
	padding-bottom: .6em;
	padding-left: 1.2em;
	
	<?= $vui->css->border_radius( 0 ); ?>
	
	<?= $vui->css->box_shadow( '0px 3px 7px ' . $vui->colors->vui_base->darken( 28, TRUE )->rgba_s( 7 ) ); ?>
	
	<?= $vui->css->transition( VUI_DEFAULT_TRANSITION ); ?>
	
	cursor: pointer;
	
	vertical-align: top;
	
	z-index: 1;
	
	<?= $vui->css->transform( 'perspective( 300px )' ); ?>
	
	<?= $vui->css->transform_style(); ?>
	
}
.tabs-on .tabs-container .tab-item-wrapper:first-of-type .tab-item{
	
	border-left: thin solid <?= $vui->colors->vui_darker->rgba_s( 30 ); ?>;
	<?= $vui->css->border_radius( VUI_DEFAULT_BORDER_RADIUS . ' 0 0 ' . VUI_DEFAULT_BORDER_RADIUS ); ?>
	
}
.tabs-on .tabs-container .tab-item-wrapper:last-of-type .tab-item{
	
	<?= $vui->css->border_radius( '0 ' . VUI_DEFAULT_BORDER_RADIUS . ' ' . VUI_DEFAULT_BORDER_RADIUS . ' 0' ); ?>
	
}
.tabs-on .tabs-container .tab-item-wrapper .tab-item,
.tabs-on .tabs-container .tab-item-wrapper .tab-item *{
	
	vertical-align: top;
	
}
.tabs-on .tabs-container .tab-item-wrapper .tab-item:hover,
.tabs-on .tabs-container .tab-item-wrapper .active{
	
	<?= $vui->colors->{ VUI_BUTTONS_BACKGROUND_VUI_COLOR_NAME }->getCssGradient( 2 ); ?>
	color: <?= $vui->colors->{ VUI_BUTTONS_FOREGROUND_VUI_COLOR_NAME }->hex_s; ?>;
	
}

/*
 ---------------------------------------------------------
 Tabs
 ---------------------------------------------------------
 *********************************************************
 */
